<%# locals: (content:) %>

<table
  id="<%= content.turbo_target %>"
  class="mx-auto table-fixed border-double border-4 border-dark"
  data-version="<%= content.version %>"
>
  <tbody
    data-controller="games--current--board"
    data-games--current--board-reveal-url-value=
      "<%= content.reveal_url %>"
    data-games--current--board-toggle-flag-url-value=
      "<%= content.toggle_flag_url %>"
    data-games--current--board-highlight-neighbors-url-value=
      "<%= content.highlight_neighbors_url %>"
    data-games--current--board-dehighlight-neighbors-url-value=
      "<%= content.dehighlight_neighbors_url %>"
    data-games--current--board-reveal-neighbors-url-value=
      "<%= content.reveal_neighbors_url %>"
    data-action="
      <%# Desktop %>
      mousedown->games--current--board#dispatchMousedown
      mouseup@window->games--current--board#dispatchMouseup
      contextmenu->games--current--board#dispatchContextmenu:prevent
      click->games--current--board#dispatchClick
      <%# Mobile %>
      touchstart->games--current--board#dispatchTouchStart
      touchmove->games--current--board#dispatchTouchMove
      touchend->games--current--board#dispatchTouchEnd
    "
    class="
      text-center

      [&_td]:size-8 [&_td]:min-w-8 [&_td]:min-h-8 [&_td]:p-0
      [&_td]:border [&_td]:border-dark
      [&_td]:data-[revealed=false]:cursor-cell
      [&_td]:data-revealed:cursor-default
      [&_td]:text-lg
    "
  >
    <% content.rows.each do |row| %>
      <tr><%= render(row) %></tr>
    <% end %>
  </tbody>
</table>
