<%# locals: (header:) %>

<div class="md:-mx-3 flex justify-between gap-x-12 text-lg cursor-default">
  <div
    title="<%= t("game.board.header.counts.title") %>"
    class="whitespace-nowrap tracking-[-0.15em]"
  >
    <%= header.flags_count %> <%= Emoji.flag %>
    <span class="text-dim -ml-1">/</span>
    <%= header.mines %> <%= Emoji.mine %>
  </div>

  <% header.elapsed_time.tap do |elapsed_time| %>
    <time
      <% if header.sweep_in_progress? %>
        data-controller="elapsed-time"
        data-elapsed-time-start-value="<%= elapsed_time.to_i %>"
      <% end %>
      title="<%= t("game.board.header.timer.title") %>"
      datetime="PT<%= elapsed_time.to_i %>S"
    ><%= elapsed_time %></time>
  <% end %>
</div>
