<%# locals: (header:) %>

<div class="md:-mx-3 flex justify-between gap-x-12 text-lg">
  <ul
    title="<%= t("game.board.header.counts.title") %>"
    class="flex gap-x-1.5 whitespace-nowrap"
  >
    <li><%= header.flags_count %></li>
    <li><%= Emoji.flag %></li>
    <li class="text-dim">/</li>
    <li><%= header.mines %></li>
    <li><%= Emoji.mine %></li>
  </ul>

  <% header.elapsed_time.tap do |elapsed_time| %>
    <time
      <% if header.sweep_in_progress? %>
        data-controller="elapsed-time"
        data-elapsed-time-start-value="<%= elapsed_time.to_i %>"
      <% end %>
      title="<%= t("game.board.header.timer.title") %>"
      datetime="PT<%= elapsed_time.to_i %>S"
    ><%= elapsed_time %></time>
  <% end %>
</div>
