<%# locals: (header:) %>

<div class="md:-mx-3 flex justify-between gap-x-12 text-lg cursor-default">
  <div
    id="flagsToMinesRatio"
    title="<%= t("game.board.header.counts.title") %>"
    class="whitespace-nowrap"
  >
    <span id="<%= header.placed_flags_count_turbo_target %>">
      <%= header.flags_count %>
    </span> <%= Emoji.flag %>
    <span class="text-dim -ml-1">/</span>
    <%= header.mines %> <%= Emoji.mine %>
  </div>

  <%= render(
        "games/current/board/header/elapsed_time",
        elapsed_time: header.elapsed_time) %>
</div>
