<% title("Error Pages") %>

<div class="container mx-auto space-y-12">
  <h1><%= title %></h1>

  <div class="space-y-6">
    <h2>Direct Links</h2>

    <ul class="space-y-1">
      <li><%= link_to("400: Bad Request", bad_request_path) %></li>
      <li><%= link_to("404: Not Found", not_found_path) %></li>
      <li><%= link_to("406: Unsupported Browser", unsupported_browser_path) %></li>
      <li><%= link_to("422: Unprocessable Entity", unprocessable_entity_path) %></li>
      <li><%= link_to("500: Internal Server Error", internal_server_error_path) %></li>
    </ul>
  </div>

  <div class="space-y-6">
    <h2>Simulated Versions</h2>

    <ul class="space-y-1">
      <li>
        <%= link_to(
              "406: Unsupported Browser",
              ui_portal_unsupported_browser_test_path,
            ) %>
      </li>
    </ul>
  </div>
</div>
