<%# locals: (form:) %>

<%= form_with(
      model: form.to_model,
      url: custom_games_path,
      data: { turbo_frame: :_top },
      html: { novalidate: true }) do |f| %>
  <div
    class="
      flex flex-col md:flex-row
      items-center md:items-baseline
      gap-y-6 gap-x-12
    "
  >
    <div class="flex items-baseline gap-x-3">
      <%= f.label(:width, "Width:", class: "min-w-20 md:min-w-fit") %>
      <div class="flex flex-col gap-y-2">
        <%= f.number_field(
              :width,
              value: form.value(:width),
              autofocus: true,
              onfocus: "this.select()",
              in: form.ranges(:width),
              class: "form-input w-[72px] p-1",
              inputmode: "numeric",
              pattern: "[0-9]{1,2}") %>
      </div>
    </div>
    <div class="flex items-baseline gap-x-3">
      <%= f.label(:height, "Height:", class: "min-w-20 md:min-w-fit") %>
      <div class="flex flex-col gap-y-2">
        <%= f.number_field(
              :height,
              value: form.value(:height),
              in: form.ranges(:height),
              class: "form-input w-[72px] p-1",
              inputmode: "numeric",
              pattern: "[0-9]{1,2}") %>
      </div>
    </div>
    <div class="flex items-baseline gap-x-3">
      <%= f.label(:mines, "Mines:", class: "min-w-20 md:min-w-fit") %>
      <div class="flex flex-col gap-y-2">
        <%= f.number_field(
              :mines,
              value: form.value(:mines),
              in: form.ranges(:mines),
              class: "form-input w-[72px] p-1",
              inputmode: "numeric",
              pattern: "[0-9]{1,3}") %>
      </div>
    </div>
    <%= f.submit("Engage!", class: "btn-primary") %>
  </div>

  <% if form.any_errors? %>
    <div class="mt-6 form-error text-left">
      <%= form.display_errors %>
    </div>
  <% end %>
<% end %>
