<%# locals: () %>

<nav class="container mx-auto flex items-center justify-between">
  <ul class="flex gap-x-8">
    <li><%= active_link_to("UI Home", ui_portal_root_path) %></li>
    <li><%= active_link_to("Flash", ui_portal_flash_notifications_path) %></li>
    <li>
      <%= active_link_to(
            "Patterns",
            ui_portal_patterns_path,
            includes: UIPortal::PatternsController.name) %>
    </li>
  </ul>

  <div class="no-active-links">
    <%= link_to(root_path, title: "Exit Portal") do %>
      <%= inline_svg_tag("heroicons/arrow-left-start-on-rectangle.svg") %>
    <% end %>
  </div>
</nav>
