<%# locals: (settings:) %>

<%= form_with(
      model: settings,
      url: custom_games_path,
      data: { turbo_frame: :_top },
      html: { novalidate: true }) do |f| %>
  <div
    class="
      flex flex-col md:flex-row
      items-center md:items-baseline
      gap-y-6 gap-x-12
    "
  >
    <div class="flex items-baseline gap-x-3">
      <%= f.label(:width, "Width:", class: "min-w-20 md:min-w-fit") %>
      <div class="flex flex-col gap-y-2">
        <%= f.number_field(
              :width,
              autofocus: true,
              onfocus: "this.select()",
              in: f.object.class::RANGES.fetch(:width),
              class: "w-[72px] form-field p-1",
              inputmode: "numeric",
              pattern: "[0-9]{1,2}") %>
      </div>
    </div>
    <div class="flex items-baseline gap-x-3">
      <%= f.label(:height, "Height:", class: "min-w-20 md:min-w-fit") %>
      <div class="flex flex-col gap-y-2">
        <%= f.number_field(
              :height,
              in: f.object.class::RANGES.fetch(:height),
              class: "w-[72px] form-field p-1",
              inputmode: "numeric",
              pattern: "[0-9]{1,2}") %>
      </div>
    </div>
    <div class="flex items-baseline gap-x-3">
      <%= f.label(:mines, "Mines:", class: "min-w-20 md:min-w-fit") %>
      <div class="flex flex-col gap-y-2">
        <%= f.number_field(
              :mines,
              in: f.object.class::RANGES.fetch(:mines),
              class: "w-[72px] form-field p-1",
              inputmode: "numeric",
              pattern: "[0-9]{1,3}") %>
      </div>
    </div>
    <%= f.submit("Engage!", class: "btn-primary") %>
  </div>

  <% if f.object.errors.any? %>
    <div class="mt-6 form-error text-left">
      <%= f.object.errors.full_messages.join(", ") %>
    </div>
  <% end %>
<% end %>
