<%# locals: (title:) %>

<h3 class="flex justify-center items-baseline gap-x-8">
  <%= render(
        layout: "copy_button",
        locals: { value: title.game_absolute_url, title: title.title_text }) do %>
    <%= link_to(
          title.game_number,
          title.game_url,
          data: { turbo_frame: :_top }) %>
  <% end %>

  <span aria-label="Engagement Date">
    <%= title.engagement_date %>
  </span>

  <% title.elapsed_time.tap do |elapsed_time| %>
    <span
      class="
        max-sm:hidden inline-flex
        font-normal text-base text-dim normal-case
      "
    >
      T+
      <time
        data-controller="timer"
        data-timer-start-value="<%= elapsed_time.started_at.to_i %>"
        data-timer-format-value="MM:SS"
        data-timer-max-seconds-value="3599"
        data-timer-max-time-string-value="59:59+"
        title="Engagement ended &lt;MM:SS&gt; ago"
        datetime="PT<%= elapsed_time.to_i %>S"
      ><%= elapsed_time %></time>
    </span>
  <% end %>
</h3>
