<%# locals: (title:) %>

<h3 class="flex justify-center items-baseline gap-x-8">
  <span
    data-controller="clipboard"
    data-clipboard-source-value="<%= title.game_absolute_url %>"
    data-clipboard-highlight-class="
      text-green-500 animate-ping-once origin-center
    "
    class="flex gap-x-2 items-center"
  >
    <%= link_to(
          title.game_number,
          title.game_url,
          data: { turbo_frame: :_top }) %>
    <%= inline_svg_tag(
          "heroicons/clipboard-document.svg",
          class: "btn-basic",
          data: {
            action:
              "click->clipboard#copy "\
              "animationend->clipboard#dehighlight",
          }) %>
  </span>

  <span aria-label="Engagement Date">
    <%= title.engagement_date %>
  </span>

  <% title.elapsed_time.tap do |elapsed_time| %>
    <span class="max-sm:hidden font-normal text-base text-dim normal-case">
      T+
      <time
        data-controller="elapsed-time"
        data-elapsed-time-start-value="<%= elapsed_time.started_at.to_i %>"
        data-elapsed-time-format-value="MM:SS"
        data-elapsed-time-max-seconds-value="3599"
        data-elapsed-time-max-time-string-value="59:59+"
        title="Engagement ended ... ago"
        datetime="PT<%= elapsed_time.to_i %>S"
        class="-ml-2"
      ><%= elapsed_time %></time>
    </span>
  <% end %>
</h3>
