<% title("Metrics") %>


<div class="container mx-auto space-y-12">
  <h1><%= title %></h1>

  <% @view.engagements.tap do |engagements| %>
    <div class="space-y-10">
      <h2 class="border-b border-dotted border-dim">Engagements</h2>

      <h3 class="h2">Bests</h3>

      <% cache_unless(App.debug?, engagements.cache_key) do %>
        <div
          data-controller="active-link"
          data-active-link-active-class="active"
          data-action="frame:hide@window->active-link#clear"
          class="flex max-lg:flex-col gap-x-24 gap-y-6"
        >
          <% engagements.bests_per_type.each do |bests| %>
            <nav class="space-y-3">
              <h4 class="h3"><%= bests.type %></h4>

              <table
                class="
                  -mx-6 -my-2
                  table-fixed
                  border-separate border-spacing-x-6 border-spacing-y-2
                  text-left
                "
              >
                <thead>
                  <tr>
                    <th>Rank</th>
                    <th class="min-w-[100px]">
                      <dfn
                        data-tooltip="<%= t("terms.score") %>"
                        class="after:w-72"
                      >Score</dfn>
                    </th>
                    <th>
                      <dfn
                        data-tooltip="Participating minesweepers count."
                        class="sm:after:w-72 -ml-1"
                      ><%= Emoji.ship %></dfn>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% bests.listings.each_with_index do |listing, index| %>
                    <tr>
                      <td><%= index.next %></td>
                      <td class="<%= listing.table_cell_css %>">
                        <%= link_to_if(
                              listing.present?,
                              listing.game_score,
                              listing.game_url,
                              data: {
                                action: "active-link#toggle",
                                turbo_frame: :game_with_results,
                              }) %>
                      </td>
                      <td class="<%= listing.table_cell_css %>">
                        <%= listing.players_count %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </nav>
          <% end %>
        </div>
      <% end %>

      <div
        data-controller="frame scroll-to"
        data-action="active-link:deactivate@window->frame#hide"
        data-transition-enter="transition ease-out duration-100"
        data-transition-enter-start="transform opacity-0 scale-95"
        data-transition-enter-end="transform opacity-100 scale-100"
        data-transition-leave="transition ease-in duration-75"
        data-transition-leave-start="transform opacity-100 scale-100"
        data-transition-leave-end="transform opacity-0 scale-95"
        class="
          hidden relative
          px-6 py-12 -mx-3 shadow-lg rounded
          border border-dim
        "
      >
        <div class="absolute top-3 right-3 flex justify-end">
          <button
            type="button"
            data-action="frame#hide"
            class="
              -m-1.5 p-2 rounded-lg
              hover:bg-gray-200 dark:hover:bg-neutral-700 hover:focus:bg-gray-200
              focus:ring-2 focus:ring-gray-400 focus:animate-pulse-fast
              text-dim
            "
            aria-label="Close"
          >
            <%= inline_svg_tag("heroicons/x-mark.svg", class: "stroke-2") %>
          </button>
        </div>

        <%= turbo_frame_tag(
              :game_with_results,
              data: {
                frame_target: "frame",
                action:
                  "turbo:frame-load->frame#show "\
                  "turbo:frame-load->scroll-to#jumpToContainer",
              }) %>
      </div>
    </div>
  <% end %>
</div>
