<% title("Metrics") %>
<% description(t("metrics.meta_description")) %>

<div
  data-turbo-prefetch="false"
  class="container mx-auto space-y-12"
>
  <h1><%= title %></h1>

  <div class="space-y-24">
    <% @view.engagements.tap do |engagements| %>
      <div class="space-y-10">
        <h2 class="border-b border-dotted border-dim">Engagements</h2>

        <h3 class="h2">Best Scores</h3>

        <% cache(engagements.cache_key) do %>
          <div
            data-controller="active-link"
            data-active-link-active-class="active"
            data-action="display-case:hide@window->active-link#clear"
            class="max-w-5xl grid lg:grid-cols-3 gap-x-12 gap-y-6"
          >
            <% engagements.bests_per_type.each do |bests| %>
              <div class="space-y-3">
                <h4 class="h3"><%= bests.type %></h4>

                <table
                  class="
                    table-fixed text-left
                    *:*:*:not-last:pr-6 [&_th]:pb-2 [&_tr]:not-last:*:pb-2
                  "
                >
                  <thead>
                    <tr>
                      <th class="w-16">Rank</th>
                      <th class="min-w-[100px]"><%= tt("Score") %></th>
                      <th>
                        <%= tt(Emoji.ship, scope: "metrics.engagements.bests") %>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% bests.listings.each_with_index do |listing, index| %>
                      <tr>
                        <td><%= index.next %></td>
                        <td>
                          <%= link_to_if(
                                listing.present?,
                                listing.game_score,
                                listing.game_url,
                                data: {
                                  action: listing.link_action,
                                  turbo_frame: listing.turbo_frame_name,
                                }) %>
                        </td>
                        <td><%= listing.fleet_size %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
          </div>
        <% end %>

        <%= render("display_case", display_case: engagements.display_case) %>
      </div>
    <% end %>

    <% @view.participants.tap do |participants| %>
      <div class="space-y-10">
        <h2 class="border-b border-dotted border-dim">Minesweepers</h2>

        <h3 class="h2">Most Active</h3>

        <% cache(participants.cache_key) do %>
          <div class="max-w-5xl grid lg:grid-cols-3 gap-x-12 gap-y-6">
            <% participants.most_actives_per_type.each do |most_actives| %>
              <div class="max-w-sm space-y-3">
                <h4 class="h3"><%= most_actives.type %></h4>

                <table
                  class="
                    table-fixed w-full text-left
                    *:*:*:not-last:pr-6 [&_th]:pb-2 [&_tr]:not-last:*:pb-2
                  "
                >
                  <thead>
                    <tr>
                      <th class="w-16">Rank</th>
                      <th class="w-16">
                        <%= tt("Count", scope: "metrics.minesweepers.most_active") %>
                      </th>
                      <th class="w-full">Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% most_actives.listings.each_with_index do |listing, index| %>
                      <tr>
                        <td><%= index.next %></td>
                        <td><%= listing.active_participation_count %></td>
                        <td class="truncate">
                          <%= link_to_if(
                                listing.present?,
                                listing.name,
                                listing.user_url,
                                title: (listing.title if listing.title?)) %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
