<% title("Metrics") %>


<div class="container mx-auto space-y-12">
  <h1><%= title %></h1>

  <% @view.engagements.tap do |engagements| %>
    <div class="space-y-10">
      <h2 class="border-b border-dotted border-dim">Engagements</h2>

      <h3 class="h2">Bests</h3>

      <% cache_unless(App.debug?, engagements.cache_key) do %>
        <div
          data-controller="active-link"
          data-active-link-active-class="active"
          data-action="frame-container:hide@window->active-link#clear"
          class="flex max-lg:flex-col gap-x-24 gap-y-6"
        >
          <% engagements.bests_per_type.each do |bests| %>
            <nav class="space-y-3">
              <h4 class="h3"><%= bests.type %></h4>

              <table
                class="
                  -mx-6 -my-2
                  table-fixed
                  border-separate border-spacing-x-6 border-spacing-y-2
                  text-left
                "
              >
                <thead>
                  <tr>
                    <th>Rank</th>
                    <th class="min-w-[100px]">
                      <dfn
                        data-tooltip="<%= t("terms.score") %>"
                        class="after:w-72"
                      >Score</dfn>
                    </th>
                    <th>
                      <dfn
                        data-tooltip="Participating minesweepers count."
                        class="sm:after:w-72 -ml-1"
                      ><%= Emoji.ship %></dfn>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% bests.listings.each_with_index do |listing, index| %>
                    <tr>
                      <td><%= index.next %></td>
                      <td class="<%= listing.table_cell_css %>">
                        <%= link_to_if(
                              listing.present?,
                              listing.game_score,
                              listing.game_url,
                              data: {
                                action: "active-link#toggle",
                                turbo_frame: :game_frame,
                              }) %>
                      </td>
                      <td class="<%= listing.table_cell_css %>">
                        <%= listing.players_count %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </nav>
          <% end %>
        </div>
      <% end %>

      <%= render("games/frame_container") %>
    </div>
  <% end %>
</div>
