<%# locals: (listing:) %>

<div>
  <%= link_to(
        listing.game_url,
        class: "no-underline border-b-[0.5px] whitespace-nowrap") do %>
    <span
      title="Game Number"
    ><%= listing.game_number %></span>

    <span
      title="<%= listing.outcome %>"
      class="tracking-emojis -mr-2"
    ><%= listing.statusmoji %></span>

    <span class="inline-flex">
      <abbr
        title="<%= listing.type %>"
      ><%= listing.type_indicator %></abbr>

      <% if listing.show_score? %>
        <span
          title="Score (lower is better)"
          class="before:content-[':']"
        ><%= listing.score %></span>
      <% end %>
    </span>

    <% if listing.show_active_participation_count? %>
      <span title="Active Fleet Size">
        <%= Emoji.ship %><span class="mx-1">x</span><%= listing.active_participants_count %>
      </span>
    <% end %>
  <% end %>
</div>
