<%# locals: (listing:) %>

<div>
  <%= link_to(
        listing.game_url,
        class: "no-underline border-b-[0.5px] whitespace-nowrap") do %>
    <span
      title="Game Number"
    ><%= listing.game_number %></span>

    <span
      title="<%= listing.type %>"
    ><%= listing.type_indicator %></span>

    <span
      title="<%= listing.outcome %>"
      class="tracking-emojis -mr-2"
    ><%= listing.statusmoji %></span>

    <% if listing.show_score? %>
      <span title="Score (lower is better)"><%= listing.score %></span>
    <% end %>

    <% if listing.show_active_participation_count? %>
      <span title="Active Fleet Size">
        <%= safe_join([
              Emoji.ship,
              tag.span("x", class: "mx-1"),
              listing.active_participants_count,
            ]) %>
      </span>
    <% end %>
  <% end %>
</div>
