<%# locals: (listing:) %>

<div>
  <%= link_to(listing.game_url, class: "whitespace-nowrap") do %>
    <abbr
      title="Game Number"
    ><%= listing.game_number %></abbr>

    <span class="inline-flex">
      <abbr
        title="<%= listing.type %>"
      ><%= listing.type_indicator %></abbr>

      <% if listing.show_score? %>
        <abbr
          title="Score (lower is better)"
          class="before:content-[':']"
        ><%= listing.score %></abbr>
      <% end %>
    </span>

    <span
      title="<%= listing.outcome %>"
      class="tracking-emojis -mr-2"
    ><%= listing.statusmojis %></span>
  <% end %>
</div>
