<%# locals: (listing:) %>

<div>
  <%= link_to(listing.game_url, class: "group whitespace-nowrap") do %>
    <span class="text-dim group-hover:text-inherit">
      <%= listing.game_number %>
      <abbr
        title="<%= listing.type %>"
      ><%= listing.type_indicator %></abbr>
    </span>
    <% if listing.show_game_score? %>
      <abbr
        title="Score (lower is better)"
        class="
          -ml-2 before:content-[':']
          text-dim
          group-hover:text-inherit
        "
      ><%= listing.game_score %></abbr>
    <% end %>
    <span class="tracking-emojis"><%= listing.game_status_mojis %></span>
  <% end %>
</div>
