<%# locals: (form:) %>

<%= turbo_frame_tag(*form.turbo_frame_name) do %>
  <div
    data-controller="inline-edit"
    data-action="keydown.esc@window->inline-edit#cancel"
  >
    <%= form_with(
          model: form.to_model,
          url: form.post_url,
          html: { novalidate: true }) do |f| %>
      <div class="flex max-md:flex-col items-center gap-y-6 gap-x-12">
        <div class="flex items-baseline gap-x-3">
          <%= f.label(:width, "Width:", class: "max-md:min-w-20") %>
          <%= f.number_field(
                :width,
                value: form.value(:width),
                autofocus: true,
                onfocus: "this.select()",
                in: form.ranges(:width),
                class: "form-input w-[72px] p-1",
                inputmode: "numeric",
                pattern: "[0-9]{1,2}") %>
        </div>
        <div class="flex items-baseline gap-x-3">
          <%= f.label(:height, "Height:", class: "max-md:min-w-20") %>
          <%= f.number_field(
                :height,
                value: form.value(:height),
                in: form.ranges(:height),
                class: "form-input w-[72px] p-1",
                inputmode: "numeric",
                pattern: "[0-9]{1,2}") %>
        </div>
        <div class="flex items-baseline gap-x-3">
          <%= f.label(:mines, "Mines:", class: "max-md:min-w-20") %>
          <%= f.number_field(
                :mines,
                value: form.value(:mines),
                in: form.ranges(:mines),
                class: "form-input w-[72px] p-1",
                inputmode: "numeric",
                pattern: "[0-9]{1,3}") %>
        </div>

        <div class="inline-flex items-center gap-x-6">
          <%= f.submit("Engage!", class: "btn-primary") %>
          <%= link_to(
                Emoji.hide,
                form.cancel_url,
                class: "btn-basic text-xl",
                data: {
                  inline_edit_target: "cancel",
                  turbo_stream: true,
                }) %>
        </div>
      </div>

      <% if form.any_errors? %>
        <div class="mt-6 form-error text-center">
          <%= form.display_errors %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
