<%# locals: (bests:) %>

<% cache(bests.cache_key) do %>
  <div
    data-controller="active-link"
    data-active-link-active-class="active"
    data-action="display-case:hide@window->active-link#clear"
    class="active-nav"
  >
    <h2 class="h3 mb-6">Bests</h2>

   <table class="table-basic">
      <tbody>
        <tr>
          <th colspan="2"><%= tt("Score") %></th>
        </tr>
        <%= render("users/bests/metric", metric: bests.score) %>

        <tr>
          <th colspan="2"><%= tt("3BV/s", key: "bbbvps") %></th>
        </tr>
        <%= render("users/bests/metric", metric: bests.bbbvps) %>

        <tr>
          <th colspan="2"><%= tt("Efficiency") %></th>
        </tr>
        <%= render("users/bests/metric", metric: bests.efficiency) %>
      </tbody>
    </table>
  </div>
<% end %>
