<%# locals: (service_record:) %>

<% cache(service_record.cache_key) do %>
  <div>
    <h2 class="h3 mb-6">Service Record</h2>

    <div class="dl-basic">
      <dl>
        <dt>Engagements</dt>
        <dd><%= service_record.games_count %></dd>
      </dl>
      <dl>
        <dt>Victories</dt>
        <dd><%= service_record.winning_games_count %></dd>
      </dl>
      <dl>
        <dt>Defeats</dt>
        <dd><%= service_record.losing_games_count %></dd>
      </dl>

      <dl class="h-3"></dl>

      <dl>
        <dt>Cells Revealed</dt>
        <dd><%= service_record.reveals_count %></dd>
      </dl>
      <dl>
        <dt><%= tt("Chords") %></dt>
        <dd><%= service_record.chords_count %></dd>
      </dl>
      <dl>
        <dt>Flags Placed</dt>
        <dd><%= service_record.flags_count %></dd>
      </dl>
      <dl>
        <dt>Flags Removed</dt>
        <dd><%= service_record.unflags_count %></dd>
      </dl>
      <dl>
        <dt>Mines Tripped</dt>
        <dd><%= service_record.tripped_mines_count %></dd>
      </dl>
    </div>
  </div>
<% end %>
