<% title(@view.display_name) %>
<% description(t("user.meta_description")) %>

<div class="container mx-auto">
  <div class="space-y-10">
    <div class="xl:w-2/3 space-y-6">
      <h1 class="border-b border-dotted border-dim">
        <%= @view.display_name %>
      </h1>

      <p class="flex gap-x-6">
        <span>Enlisted:</span>
        <span><%= @view.enlistment_date %></span>
      </p>
    </div>

    <div class="flex max-md:flex-col gap-x-24 gap-y-8 items-start">
      <%= render("service_record", service_record: @view.service_record) %>
      <%= render("bests", bests: @view.bests) %>
    </div>

    <%= render("display_case", display_case: @view.display_case) %>
  </div>

  <hr>

  <div class="space-y-12">
    <% @view.games.tap do |games| %>
      <div class="space-y-8">
        <h2>Past Engagements</h2>

        <h3 class="text-center">
          <%= render(
                "games/past/engagement_tally",
                engagement_tally: games.engagement_tally) %>
        </h3>
      </div>

      <%= render("games/listings", listings: games.listings) %>
    <% end %>
  </div>
</div>
