<% title(@view.display_name) %>

<div class="container mx-auto">
  <% cache_unless(App.debug?, @view.cache_name) do %>
    <div class="xl:w-2/3 space-y-12">
      <div class="space-y-6">
        <h1
          class="
            border-b border-dotted
            border-b-300 dark:border-b-neutral-600
          "
        >Service Record</h1>

        <h2><%= @view.display_name %></h2>

        <h3 class="h5 flex items-baseline gap-x-6">
          <span>Enlisted:</span>
          <span><%= @view.enlistment_date %></span>
        </h3>
      </div>

      <div
        class="
          flex flex-col md:flex-row
          gap-x-24 gap-y-8
          items-start
        "
      >
        <div class="space-y-6">
          <h3>Stats</h3>

          <table
            class="
               border-separate
               border-spacing-x-6 border-spacing-y-2
               -mx-3 -my-1
               text-left
            "
          >
            <tbody>
              <tr>
                <th>Engagements</th>
                <td><%= @view.games_count %></td>
              </tr>
              <tr>
                <th>Victories</th>
                <td><%= @view.winning_games_count %></td>
              </tr>
              <tr>
                <th>Defeats</th>
                <td><%= @view.losing_games_count %></td>
              </tr>

              <tr><td colspan="100%" class="select-none">&nbsp;</td></tr>

              <tr>
                <th>Cells Revealed</th>
                <td><%= @view.reveals_count %></td>
              </tr>
              <tr>
                <th>
                  <dfn
                    data-tooltip="up-left"
                    aria-label="<%= t("terms.chords") %>"
                    class="after:w-80"
                  >Chords</dfn>
                </th>
                <td><%= @view.chords_count %></td>
              </tr>
              <tr>
                <th>Flags Placed</th>
                <td><%= @view.flags_count %></td>
              </tr>
              <tr>
                <th>Flags Removed</th>
                <td><%= @view.unflags_count %></td>
              </tr>
              <tr>
                <th>Mines Detonated</th>
                <td><%= @view.tripped_mines_count %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="space-y-6">
          <h3>Records</h3>

          <table
            class="
               border-separate
               border-spacing-x-6 border-spacing-y-2
               -mx-3 -my-1
               text-left
            "
          >
            <tbody>
              <tr>
                <th>
                  <dfn
                    data-tooltip="up-left"
                    aria-label="<%= t("terms.score") %>"
                    class="after:w-80"
                  >Score</dfn>
                </th>
              </tr>
              <tr>
                <th class="pl-6">Beginner</th>
                <td><%= @view.best_beginner_score %></td>
              </tr>
              <tr>
                <th class="pl-6">Intermediate</th>
                <td><%= @view.best_intermediate_score %></td>
              </tr>
              <tr>
                <th class="pl-6">Expert</th>
                <td><%= @view.best_expert_score %></td>
              </tr>
              <tr>
                <th>
                  <dfn
                    data-tooltip="up-left"
                    aria-label="<%= t("terms.bbbvps") %>"
                    class="after:w-80"
                  >3BV/s</dfn>
                </th>
              </tr>
              <tr>
                <th class="pl-6">Beginner</th>
                <td><%= @view.best_beginner_bbbvps %></td>
              </tr>
              <tr>
                <th class="pl-6">Intermediate</th>
                <td><%= @view.best_intermediate_bbbvps %></td>
              </tr>
              <tr>
                <th class="pl-6">Expert</th>
                <td><%= @view.best_expert_bbbvps %></td>
              </tr>
              <tr>
                <th>
                  <dfn
                    data-tooltip="up-left"
                    aria-label="<%= t("terms.efficiency") %>"
                    class="after:w-80"
                  >Efficiency</dfn>
                </th>
              </tr>
              <tr>
                <th class="pl-6">Beginner</th>
                <td><%= @view.best_beginner_efficiency %></td>
              </tr>
              <tr>
                <th class="pl-6">Intermediate</th>
                <td><%= @view.best_intermediate_efficiency %></td>
              </tr>
              <tr>
                <th class="pl-6">Expert</th>
                <td><%= @view.best_expert_efficiency %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <hr class="my-12 border-dotted dark:border-neutral-600">

    <div class="space-y-12">
      <% games = @view.games %>

      <div class="space-y-8">
        <h2>Past Engagements</h2>

        <h3 class="text-center">
          <%= render("games/engagement_tally", view: games.engagement_tally) %>
        </h3>
      </div>

      <%= render("games/listings", view: games) %>
    </div>
  <% end %>
</div>
