<% title(@view.display_name) %>

<div class="container mx-auto">
  <% cache_unless(App.debug?, @view.cache_key) do %>
    <div class="xl:w-2/3 space-y-12">
      <div class="space-y-6">
        <h1
          class="
            border-b border-dotted
            border-b-300 dark:border-b-neutral-600
          "
        >Service Record</h1>

        <h2><%= @view.display_name %></h2>

        <h3 class="h5 flex items-baseline gap-x-6">
          <span>Enlisted:</span>
          <span><%= @view.enlistment_date %></span>
        </h3>
      </div>

      <div class="flex max-md:flex-col gap-x-24 gap-y-8 items-start">
        <div class="space-y-6">
          <h3>Duty Log</h3>

          <% @view.duty_log.tap do |duty_log| %>
            <table
              class="
                 -mx-6 -my-2
                 border-separate border-spacing-x-6 border-spacing-y-2
                 text-left
              "
            >
              <tbody>
                <tr>
                  <th>Engagements</th>
                  <td><%= duty_log.games_count %></td>
                </tr>
                <tr>
                  <th>Victories</th>
                  <td><%= duty_log.winning_games_count %></td>
                </tr>
                <tr>
                  <th>Defeats</th>
                  <td><%= duty_log.losing_games_count %></td>
                </tr>

                <tr><td colspan="2" class="select-none">&nbsp;</td></tr>

                <tr>
                  <th>Cells Revealed</th>
                  <td><%= duty_log.reveals_count %></td>
                </tr>
                <tr>
                  <th>
                    <dfn
                      data-tooltip="<%= t("terms.chords") %>"
                      class="after:w-80"
                    >Chords</dfn>
                  </th>
                  <td><%= duty_log.chords_count %></td>
                </tr>
                <tr>
                  <th>Flags Placed</th>
                  <td><%= duty_log.flags_count %></td>
                </tr>
                <tr>
                  <th>Flags Removed</th>
                  <td><%= duty_log.unflags_count %></td>
                </tr>
                <tr>
                  <th>Mines Detonated</th>
                  <td><%= duty_log.tripped_mines_count %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        </div>

        <div class="space-y-6">
          <h3>Bests</h3>

          <% @view.bests.tap do |bests| %>
            <table
              class="
                 -mx-6 -my-2
                 border-separate border-spacing-x-6 border-spacing-y-2
                 text-left
              "
            >
              <tbody>
                <tr>
                  <th colspan="2">
                    <dfn
                      data-tooltip="<%= t("terms.score") %>"
                      class="after:w-72"
                    >Score</dfn>
                  </th>
                </tr>
                <% bests.score.tap do |best| %>
                  <tr>
                    <th class="pl-6">Beginner</th>
                    <td>
                      <%= link_to_if(
                            best.beginner_score?,
                            best.beginner_score,
                            best.beginner_score_url) %>
                    </td>
                  </tr>
                  <tr>
                    <th class="pl-6">Intermediate</th>
                    <td>
                      <%= link_to_if(
                            best.intermediate_score?,
                            best.intermediate_score,
                            best.intermediate_score_url) %>
                    </td>
                  </tr>
                  <tr>
                    <th class="pl-6">Expert</th>
                    <td>
                      <%= link_to_if(
                            best.expert_score?,
                            best.expert_score,
                            best.expert_score_url) %>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <th colspan="2">
                    <dfn
                      data-tooltip="<%= t("terms.bbbvps") %>"
                      class="after:w-80"
                    >3BV/s</dfn>
                  </th>
                </tr>
                <% bests.bbbvps.tap do |best| %>
                  <tr>
                    <th class="pl-6">Beginner</th>
                    <td>
                      <%= link_to_if(
                            best.beginner_bbbvps?,
                            best.beginner_bbbvps,
                            best.beginner_bbbvps_url) %>
                    </td>
                  </tr>
                  <tr>
                    <th class="pl-6">Intermediate</th>
                    <td>
                      <%= link_to_if(
                            best.intermediate_bbbvps?,
                            best.intermediate_bbbvps,
                            best.intermediate_bbbvps_url) %>
                    </td>
                  </tr>
                  <tr>
                    <th class="pl-6">Expert</th>
                    <td>
                      <%= link_to_if(
                            best.expert_bbbvps?,
                            best.expert_bbbvps,
                            best.expert_bbbvps_url) %>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <th colspan="2">
                    <dfn
                      data-tooltip="<%= t("terms.efficiency") %>"
                      class="after:w-80"
                    >Efficiency</dfn>
                  </th>
                </tr>
                <% bests.efficiency.tap do |best| %>
                  <tr>
                    <th class="pl-6">Beginner</th>
                    <td>
                      <%= link_to_if(
                            best.beginner_efficiency?,
                            best.beginner_efficiency,
                            best.beginner_efficiency_url) %>
                    </td>
                  </tr>
                  <tr>
                    <th class="pl-6">Intermediate</th>
                    <td>
                      <%= link_to_if(
                            best.intermediate_efficiency?,
                            best.intermediate_efficiency,
                            best.intermediate_efficiency_url) %>
                    </td>
                  </tr>
                  <tr>
                    <th class="pl-6">Expert</th>
                    <td>
                      <%= link_to_if(
                            best.expert_efficiency?,
                            best.expert_efficiency,
                            best.expert_efficiency_url) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>

    <hr class="my-12 border-dotted dark:border-neutral-600">

    <div class="space-y-12">
      <% @view.games.tap do |games| %>
        <div class="space-y-8">
          <h2>Past Engagements</h2>

          <h3 class="text-center">
            <%= render("games/engagement_tally", view: games.engagement_tally) %>
          </h3>
        </div>

        <%= render("games/listings", view: games) %>
      <% end %>
    </div>
  <% end %>
</div>
