<% title(@show.display_name) %>
<% description(t("user.meta_description")) %>

<div
  data-turbo-prefetch="false"
  class="container mx-auto"
>
  <div class="space-y-6">
    <div class="-ml-3 border-b border-dotted border-dim">
      <h1
        class="
          inline-block ml-3 px-6 pt-2 pb-1
          border-l border-t border-r border-dim rounded-t-xl
          text-xl
        "
      >
        <%= @show.updateable_display_name %>
        <% if @show.dev? %>
          <span title="App Developer" class="ml-1"><%= Emoji.dev %></span>
        <% end %>
      </h1>
    </div>

    <div class="space-y-10">
      <p class="px-6 flex gap-x-6">
        <span>Enlisted:</span>
        <span><%= @show.enlistment_date %></span>
      </p>

      <div class="px-6 flex max-md:flex-col gap-x-24 gap-y-8 items-start">
        <%= render("users/service_record", service_record: @show.service_record) %>
        <%= render("users/bests", bests: @show.bests) %>
      </div>

      <%= render("display_case", display_case: @show.display_case) %>
    </div>
  </div>

  <hr>

  <div class="space-y-12">
    <% @show.games.tap do |games| %>
      <div class="space-y-8">
        <h2>Engagements</h2>

        <h3 class="text-center">
          <%= render(
                "games/past/engagement_tally",
                engagement_tally: games.engagement_tally) %>
        </h3>
      </div>

      <%= render("games/listings", listings: games.listings) %>
    <% end %>
  </div>
</div>
