<% title(@show.display_name) %>
<% description(t("user.meta_description")) %>

<div
  data-turbo-prefetch="false"
  class="container mx-auto"
>
  <div class="space-y-6">
    <div
      class="
        [--tab-ml:--spacing(3)]
        -ml-(--tab-ml) border-b border-dotted border-dim
      "
    >
      <h1
        class="
          inline-block ml-(--tab-ml) px-6 pt-2 pb-1
          border-l border-t border-r border-dim rounded-t-xl
          text-xl
        "
      >
        <%= tag.span("S", class: "text-dim font-normal") if @show.spammer? %>
        <%= @show.updateable_display_name %>
        <% if @show.dev? %>
          <span title="App Developer" class="ml-1"><%= Emoji.dev %></span>
        <% end %>
      </h1>
    </div>

    <div class="space-y-10">
      <table class="border-separate border-spacing-x-6 border-spacing-y-3">
        <tbody
          class="
            max-sm:flex max-sm:flex-col max-sm:gap-y-6
            *:max-sm:flex *:max-sm:flex-col *:max-sm:gap-y-2
            text-left
          "
        >
          <tr>
            <th>Enlisted:</th>
            <td><%= @show.enlistment_date %></td>
          </tr>
          <tr>
            <th class="whitespace-nowrap">Local Time:</th>
            <td>
              <time datetime="<%= @show.local_time %>">
                <%= @show.display_local_time %>
              </time>
            </td>
          </tr>
          <tr class="text-dim">
            <th>Time Zone:</th>
            <td>
              <%= @show.time_zone %>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="px-6 flex max-md:flex-col gap-x-24 gap-y-8 items-start">
        <%= render("users/service_record", service_record: @show.service_record) %>
        <%= render("users/bests", bests: @show.bests) %>
      </div>

      <%= render("display_case", display_case: @show.display_case) %>
    </div>
  </div>

  <hr>

  <% @show.games_index(context: layout).tap do |games_index| %>
    <div class="space-y-12">
      <div class="space-y-8">
        <h2>Engagements</h2>

        <h3 class="text-center">
          <%= render(
                "games/past/engagement_tally",
                engagement_tally: games_index.engagement_tally) %>
        </h3>
      </div>

      <%= render(
            "games/index/paginated_listings_groups",
            paginated_listings_groups: games_index.paginated_listings_groups) %>
    </div>
  <% end %>
</div>
