<%# locals: (header:) %>

<div class="md:-mx-3 flex justify-between gap-x-12 text-lg">
  <div
    title="<%= t("game.board.header.counts.title") %>"
    class="whitespace-nowrap select-all tracking-[-0.15em]"
  >
    <%= header.flags_count %> <%= Emoji.flag %>
    <span class="text-dim -ml-1">/</span>
    <%= header.mines %> <%= Emoji.mine %>
  </div>

  <time
    title="<%= t("game.board.header.timer.title") %>"
    datetime="PT<%= header.elapsed_time.to_i %>S"
    class="select-all"
  ><%= header.elapsed_time %></time>
</div>
