<%# locals: (notification:) %>

<div
  id="<%= notification.id %>"
  role="alert"
  data-controller="flash"
  <% if notification.timeout? %>
    data-flash-timeout-value="<%= notification.timeout_in_milliseconds %>"
  <% end %>
  data-action="keydown.esc@window->flash#close"
  data-transition-leave="transition ease-in duration-300"
  data-transition-leave-start="opacity-100"
  data-transition-leave-end="opacity-0"
  class="
    group relative pointer-events-auto
    p-4 rounded-lg
    <%= class_names(notification.container_css) %>
  "
>
  <span class="sr-only"><%= notification.type %></span>
  <div class="flex gap-x-6 items-start">
    <p><%= notification.content %></p>

    <button
      type="button"
      data-action="flash#close"
      class="
        absolute top-0 right-0 translate-x-1/4 -translate-y-1/4
        transition-opacity duration-200
        desktop:opacity-0 group-hover:opacity-100
        p-1 rounded-lg cursor-pointer
        dark:hover:ring-2 dark:hover:ring-neutral-900
        focus:ring-2
        <%= class_names(notification.button_css) %>
      "
      aria-label="Close"
    >
      <span class="sr-only">Close</span>
      <%= inline_svg_tag("heroicons/x-mark.svg", class: "stroke-2") %>
    </button>
  </div>
</div>
