<%# locals: (roster:) %>

<div
  data-turbo-prefetch="false"
  class="space-y-3 overflow-hidden"
>
  <div class="flex justify-end items-center gap-x-2.5">
    <h2 class="h3">Roster</h2>
      <%= tt(key: "roster", placement: "bottom", css: { content: "text-left" }) do %>
        <%= inline_svg_tag(
              "heroicons/information-circle.svg",
              class: "text-dim-lg relative -right-px") %>
      <% end %>
  </div>

  <ul
    id="<%= roster.turbo_target %>"
    class="flex flex-col items-end gap-y-2 whitespace-nowrap"
  >
    <li class="hidden only:block"><%= View.no_value_indicator_tag %></li>

    <% roster.listings.each_with_index do |listing, index| %>
      <%= render("home/roster/listing", listing:) %>
    <% end %>
  </ul>
</div>
