<div class="space-y-12">
  <h1>About</h1>

  <p><%= t("site.description_html") %></p>

  <div class="space-y-6">
    <h2 class="h4">What is a Minesweeper?</h2>
    <ul class="space-y-3 list-[circle] ml-7">
      <li>
        A minesweeper is a small warship designed to remove or detonate naval mines
        (<%= external_link_to(
              "Minesweeper (wiki)",
              "https://en.wikipedia.org/wiki/Minesweeper") %>).
      </li>
    </ul>
  </div>

  <div class="space-y-6">
    <h2 class="h4">What is MMS-#### (e.g. <%= layout.current_user_mms_id %>)?</h2>
    <ul class="space-y-3 list-[circle] ml-7">
      <li>
        Players are uniquely identified by a Motor Mine Sweeper
        (<abbr title="Motor Mine Sweeper">MMS</abbr>)
        designation (+ username).
      </li>
      <li>
        MMS is a nod to the Royal Navy's wooden
        <%= external_link_to(
              "MMS-class Minesweeper",
              "https://en.wikipedia.org/wiki/MMS-class_minesweeper") %>
        fleet.
      </li>
    </ul>
  </div>

  <div class="space-y-6">
    <h2 class="h4">This game is:</h2>
    <ul class="space-y-3 list-[circle] ml-7">
      <li>
        Open source software
        (on <%= external_link_to(
              "GitHub",
              "https://github.com/pdobb/minesweeper_alliance") %>),
        under the terms of the
        <%= external_link_to(
              "MIT License",
              "https://opensource.org/licenses/MIT") %>.
      </li>
      <li>
        Written in Ruby on Rails, featuring
        <%= external_link_to("Hotwire", "https://hotwired.dev/") %>
        for real-time interaction.
      </li>
      <li>
        Styled with
        <%= external_link_to("Tailwind CSS", "https://tailwindcss.com") %>.
      </li>
      <li>
        Heavily inspired by
        <%= external_link_to(
              "Radan Skorić",
              "https://radanskoric.com/experiments/multiplayer-minesweeper-with-rails-and-hotwire") %>
        and his
        <%= external_link_to("Mines vs Humanity", "https://minesvshumanity.com/") %>
        game.
      </li>
    </ul>
  </div>

  <p>
    Thank you for playing our game.
    <span class="dark:opacity-80"><%= Icon.heart %></span>
  </p>

  <p>For the alliance!</p>
</div>
