<% title("War Room") %>

<%= turbo_stream_from(
      @view.turbo_stream_name,
      channel: @view.turbo_stream_channel) %>

<% @view.welcome_banner(context: layout).tap do |welcome_banner| %>
  <% if welcome_banner.show? %>
    <div
      id="<%= welcome_banner.turbo_update_id %>"
      class="container mx-auto"
    >
      <%= render("layouts/banner", banner: welcome_banner.banner) %>
    </div>
  <% end %>
<% end %>

<div id="gameBoardDataStore"></div>

<% @view.container.tap do |container| %>
  <%= render(container.partial_path, container:) %>
<% end %>

<%= render(
      layout: "slide_menu",
      locals: { slide_menu: @view.slide_menu(context: layout) }) do %>
  <%= render("home/roster", roster: @view.roster) %>
<% end %>
