<% title("War Room") %>

<%= render("page_nav", view: @view) %>

<%= turbo_stream_from(:current_game, channel: CurrentGameChannel) %>

<div class="container mx-auto">
  <%= render("welcome_banner", view: @view) %>
</div>

<%= render(@view.render_options) %>

<% if @view.current_game? %>
  <div class="container mx-auto">
    <hr class="my-12 border-dotted dark:border-neutral-600">

    <div id="game_details">
      <% if @view.game_just_ended? %>
        <%= render("games/stats", view: @view.game_stats_view) %>
      <% else %>
        <%= render("games/rules") %>
      <% end %>
    </div>
  </div>
<% end %>
