<% title("War Room") %>

<%= turbo_stream_from(:current_game, channel: WarRoomChannel) %>

<div class="relative container mx-auto group">
  <%= render("home/page_nav", nav: @view.nav) %>
  <%= render("welcome_banner", view: @view.welcome_banner(context: layout)) %>
</div>

<% if @view.current_game? %>
  <%= render("games/game", view: @view.show_game_view) %>
<% else # new_game? %>
  <%= render("games/new_container", view: @view.new_game_view) %>
<% end %>

<% if @view.current_game? %>
  <div class="container mx-auto">
    <hr class="my-12 border-dotted dark:border-neutral-600">

    <div id="game_details">
      <% if @view.game_just_ended? %>
        <%= render(
              "games/results",
              view: @view.results(user: layout.current_user)) %>
      <% else %>
        <%= render("games/rules") %>
      <% end %>
    </div>
  </div>
<% end %>
