<% title("War Room") %>

<div
  class="
    [&:not(:has(>div))]:hidden
    -mt-6 md:-mt-3 mb-12
    text-center text-balance
  "
>
  <%= render("layouts/flash", notifications: @view.notifications) %>
</div>

<%= turbo_stream_from(:current_game) %>

<%= render(@view.render_options) %>

<% if @view.current_game? %>
  <hr class="my-12 border-dotted dark:border-neutral-600">

  <div id="gameContext">
    <% if @view.game_just_ended? %>
      <%= render("games/stats", view: @view.game_stats_view) %>
    <% else %>
      <%= render("games/rules")  %>
    <% end %>
  </div>
<% end %>
