<%# locals: (view:) %>

<%= turbo_frame_tag(:current_game, class: "space-y-6") do %>
  <div class="container mx-auto">
    <h2 class="text-center overflow-hidden">
      <%= view.game_status %>
      <span class="tracking-[.5em]"><%= view.game_status_mojis %></span>
    </h2>
  </div>

  <div class="mx-auto w-fit max-w-full space-y-2">
    <div class="-mx-3 flex justify-between gap-x-12 text-lg">
      <div
        <% if view.game_in_progress? %>
          data-controller="elapsed-time"
          data-elapsed-time-start-value="<%= view.elapsed_time.to_i %>"
        <% end %>
        data-turbo-temporary
        title="Game Timer"
      >
        <time
          data-elapsed-time-target="elapsedTime"
          datetime="PT<%= view.elapsed_time.to_i %>S"
          aria-label="Elapsed Time: <%= view.elapsed_time %>"
        ><%= view.elapsed_time %></time>
      </div>

      <ul
        title="Placed Flags vs Total Mines"
        class="flex gap-x-1.5 whitespace-nowrap"
      >
        <li><%= view.flags_count %></li>
        <li><%= Icon.flag %></li>
        <li class="text-gray-500 dark:text-neutral-400">/</li>
        <li><%= view.mines %></li>
        <li><%= Icon.mine %></li>
      </ul>
    </div>

    <div
      class="
        -mx-5
        <% if view.allow_scrolling?(context: layout) %>
          overflow-x-auto
        <% end %>
      "
    >
      <table
        id="game_board"
        class="
          mx-auto table-fixed
          border-double border-4
          border-slate-400 dark:border-neutral-950
        ">
        <tbody
          <% if view.game_on? %>
            data-controller="board"
            data-board-reveal-url-value="<%= view.reveal_url %>"
            data-board-toggle-flag-url-value="<%= view.toggle_flag_url %>"
            data-board-highlight-neighbors-url-value="<%= view.highlight_neighbors_url %>"
            data-board-reveal-neighbors-url-value="<%= view.reveal_neighbors_url %>"
            data-action="
              click->board#reveal
              contextmenu->board#toggleFlag:prevent
              mousedown->board#highlightNeighbors
              mouseup->board#revealNeighbors
            "
          <% end %>
          class="
            text-center select-none

            <%# Cells %>
            *:*:size-8 *:*:min-w-8 *:*:min-h-8
            *:*:border *:*:border-slate-600 *:*:dark:border-neutral-950
            <% if view.game_on? %>
              data-[revealed=false]:*:*:cursor-cell
              data-[revealed=true]:*:*:cursor-default
            <% else %>
              *:*:cursor-default
            <% end %>
          "
        >
          <% view.rows(context: layout).each do |row| %>
            <tr>
              <% row.each do |cell| %>
                <td
                  data-id="<%= cell.id %>"
                  data-revealed="<%= cell.revealed? %>"
                  data-flagged="<%= cell.flagged? %>"
                  class="<%= class_names(cell.css_class) %>"
                >
                  <%= cell %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <ul
      class="
        -mx-5 flex justify-end gap-x-3
        text-gray-400 dark:text-neutral-500
      "
    >
      <li><%= view.type %></li>
      <li>(<%= view.board_dimensions %>)</li>
    </ul>
  </div>

  <div class="container mx-auto">
    <% if view.game_on? %>
      <div
        data-controller="board-actions"
        data-board-actions-board-id-value="game_board"
        class="text-center"
      >
        <%= button_to(
              "Reveal Random",
              nil,
              class: "btn-primary",
              data: { action: "board-actions#revealRandom:prevent" }) %>
      </div>
    <% elsif view.game_just_ended? %>
      <div class="mt-3 flex flex-col justify-center items-center gap-6">
        <p class="text-center">
          <%=
            if view.game_ended_in_victory?
              t("game.victory.restart_html").sample
            else # view.game_ended_in_defeat?
              t("game.defeat.restart_html").sample
            end
          %>
        </p>
        <%= render("games/new", view: Games::New.new) %>
      </div>
    <% end %>
  </div>
<% end %>
