<%# locals: (nav:) %>

<div class="relative container mx-auto">
  <div
    class="
      absolute -top-8 flex items-center gap-x-3
      *:text-gray-500 *:dark:text-neutral-400
      *:no-underline
    "
  >
    <%= link_to(nav.close_game_url, title: "Close Op") do %>
      <%= inline_svg_tag(
            "heroicons/x-mark.svg",
            class: "size-[18px] min-w-[18px] min-h-[18px]") %>
    <% end %>

    <% if nav.previous_game? %>
      <%= link_to(nav.previous_game_url, title: "Previous Op") do %>
        <%= inline_svg_tag(
              "heroicons/arrow-long-left.svg",
              class: "size-[20px] min-w-[20px] min-h-[20px]") %>
      <% end %>
    <% end %>

    <% if nav.next_game? %>
      <%= link_to(nav.next_game_url, title: "Next Op") do %>
        <%= inline_svg_tag(
              "heroicons/arrow-long-right.svg",
              class: "size-[20px] min-w-[20px] min-h-[20px]") %>
      <% end %>
    <% end %>
  </div>
</div>
