<%# locals: (nav:) %>

<div class="relative container mx-auto">
  <div
    class="
      absolute -top-8 flex items-center gap-x-3
      *:text-gray-500 *:dark:text-neutral-400
      *:no-underline
    "
  >
    <%= link_to(nav.close_game_url, title: "Close Op") do %>
      <%= inline_svg_tag("heroicons/x-mark.svg") %>
    <% end %>

    <% if nav.previous_game? %>
      <%= link_to(nav.previous_game_url, title: "Previous Op") do %>
        <%= inline_svg_tag("heroicons/arrow-long-left.svg") %>
      <% end %>
    <% else %>
      <%= inline_svg_tag(
            "heroicons/arrow-long-left.svg",
            class: %w[stroke-gray-300 dark:stroke-neutral-600]) %>
    <% end %>

    <% if nav.next_game? %>
      <%= link_to(nav.next_game_url, title: "Next Op") do %>
        <%= inline_svg_tag("heroicons/arrow-long-right.svg") %>
      <% end %>
    <% else %>
      <%= inline_svg_tag(
            "heroicons/arrow-long-right.svg",
            class: %w[stroke-gray-300 dark:stroke-neutral-600]) %>
    <% end %>
  </div>
</div>
