<%# locals: (view:) %>

<div class="mb-12 text-center space-y-3">
  <h3 class="h4">
    <span class="sr-only">Engagement Date:</span>
    <%= view.game_engagement_date %>
    <%= view.game_engagement_time_range(self) %>
    <small title="Duration" class="text-gray-500 dark:text-neutral-400">
      (<%= view.duration %>)
    </small>
  </h3>
</div>

<% view.signature.tap do |signature| %>
  <% if signature.show? %>
    <div class="-mt-12 mb-3 min-h-24 flex justify-center items-center">
      <%= render("games/users/signature", view: signature) %>
    </div>
  <% end %>
<% end %>

<% view.stats.tap do |stats| %>
  <% cache_unless(App.debug?, stats.cache_name) do %>
    <div
      class="
        grid md:grid-cols-2
        gap-x-28 gap-y-12
      "
    >
      <div class="md:justify-self-end space-y-3">
        <h4 class="h3">Stats</h4>

        <table class="-m-3">
          <tbody class="*:*:px-3 *:*:py-1">
            <% if stats.show_game_score? %>
              <tr title="<%= t("game.stats.score") %>">
                <th class="text-left">Score</th>
                <td><%= stats.game_score %></td>
              </tr>
              <tr title="<%= t("game.stats.bbbv") %>">
                <th class="text-left">3BV</th>
                <td><%= stats.bbbv %></td>
              </tr>
              <tr title="<%= t("game.stats.bbbvps") %>">
                <th class="text-left">3BV/s</th>
                <td><%= stats.bbbvps %></td>
              </tr>
              <tr title="<%= t("game.stats.efficiency") %>">
                <th class="text-left">Efficiency</th>
                <td><%= stats.efficiency_percentage %></td>
              </tr>
            <% end %>
            <tr title="<%= t("game.stats.clicks") %>">
              <th class="text-left">Clicks</th>
              <td><%= stats.clicks_count %></td>
            </tr>
            <tr>
              <td colspan="100%">
                <table class="ml-3">
                  <tbody class="*:*:px-3 *:*:py-1">
                    <tr title="<%= t("game.stats.reveals") %>">
                      <th class="text-left">Reveals</th>
                      <td><%= stats.reveals_count %></td>
                    </tr>
                    <tr title="<%= t("game.stats.chords") %>">
                      <th class="text-left">Chords</th>
                      <td><%= stats.chords_count %></td>
                    </tr>
                    <tr>
                      <th class="text-left">Flags Placed</th>
                      <td><%= stats.flags_count %></td>
                    </tr>
                    <tr>
                      <th class="text-left">Flags Removed</th>
                      <td><%= stats.unflags_count %></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>

  <% view.duty_roster.tap do |duty_roster| %>
    <div>
      <%= turbo_stream_from(*duty_roster.turbo_stream_name) %>

      <div class="space-y-3">
        <h4 class="h3">
          Duty Roster
          <small
            title="Player Count"
            class="text-gray-500 dark:text-neutral-400"
          >
            (<%= duty_roster.count %>)
          </small>
        </h4>

        <div
          data-turbo-prefetch="false"
          class="flex flex-col gap-y-2"
        >
          <% duty_roster.listings.each_with_index do |listing, index| %>
            <div class="flex items-baseline gap-x-3">
              <span><%= index.next %>.</span>

              <% if listing.user?(current_user) %>
                <span title="Me"><%= Icon.eyes %></span>
              <% end %>

              <%= turbo_frame_tag(*listing.turbo_frame_name) do %>
                <%= render("games/users/duty_roster_listing", listing:) %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
