<%# locals: (view:) %>

<div class="mb-12 text-center space-y-3">
  <h3 class="h4">
    <span class="sr-only">Engagement Date:</span>
    <%= view.game_engagement_date %>
    <%= view.game_engagement_time_range(self) %>
  </h3>
</div>

<% view.signature.tap do |signature| %>
  <% if signature.show? %>
    <div class="-mt-12 mb-3 min-h-24 flex justify-center items-center">
      <%= render("games/users/signature", view: signature) %>
    </div>
  <% end %>
<% end %>

<% view.stats.tap do |stats| %>
  <% cache_unless(App.debug?, stats.cache_key) do %>
    <div
      class="
        grid md:grid-cols-2
        gap-x-28 gap-y-12
      "
    >
      <div class="md:justify-self-end space-y-3">
        <h4 class="h3">Stats</h4>

        <table
          class="
            -my-2
            border-separate border-spacing-y-2
            text-left
          "
        >
          <tbody>
            <% if stats.show_game_score? %>
              <tr>
                <th>
                  <dfn
                    data-tooltip="<%= t("terms.score") %>"
                    class="after:w-80"
                  >Score</dfn>
                </th>
                <td>
                  <time
                    datetime="PT<%= stats.game_score %>S"
                  ><%= stats.game_score %></time>
                </td>
              </tr>
              <tr>
                <th>
                  <dfn
                    data-tooltip="<%= t("terms.bbbv") %>"
                    class="after:w-80"
                  >3BV</dfn>
                </th>
                <td><%= stats.bbbv %></td>
              </tr>
              <tr>
                <th>
                  <dfn
                    data-tooltip="<%= t("terms.bbbvps") %>"
                    class="after:w-80"
                  >3BV/s</dfn>
                </th>
                <td><%= stats.bbbvps %></td>
              </tr>
              <tr>
                <th>
                  <dfn
                    data-tooltip="<%= t("terms.efficiency") %>"
                    class="after:w-80"
                  >Efficiency</dfn>
                </th>
                <td><%= stats.efficiency_percentage %></td>
              </tr>
            <% end %>
            <tr>
              <th>Clicks</th>
              <td><%= stats.clicks_count %></td>
            </tr>
            <tr class="*:pl-6">
              <th>
                <dfn
                  data-tooltip="<%= t("terms.reveals") %>"
                  class="after:w-80"
                >Reveals</dfn>
              </th>
              <td><%= stats.reveals_count %></td>
            </tr>
            <tr class="*:pl-6">
              <th>
                <dfn
                  data-tooltip="<%= t("terms.chords") %>"
                  class="after:w-80"
                >Chords</dfn>
              </th>
              <td><%= stats.chords_count %></td>
            </tr>
            <tr class="*:pl-6">
              <th>Flags Placed</th>
              <td><%= stats.flags_count %></td>
            </tr>
            <tr class="*:pl-6">
              <th>Flags Removed</th>
              <td><%= stats.unflags_count %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>

  <% view.duty_roster.tap do |duty_roster| %>
    <div>
      <%= turbo_stream_from(*duty_roster.turbo_stream_name) %>

      <div class="space-y-3">
        <h4 class="h3">
          Duty Roster
          <small
            title="Player Count"
            class="text-gray-500 dark:text-neutral-400"
          >
            (<%= duty_roster.count %>)
          </small>
        </h4>

        <div
          data-turbo-prefetch="false"
          class="flex flex-col gap-y-2"
        >
          <% duty_roster.listings.each_with_index do |listing, index| %>
            <div class="flex items-baseline gap-x-3">
              <span><%= index.next %>.</span>

              <% if listing.user?(current_user) %>
                <span title="Me"><%= Emoji.eyes %></span>
              <% end %>

              <%= turbo_frame_tag(*listing.turbo_frame_name) do %>
                <%= render("games/users/duty_roster_listing", listing:) %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
