<%# locals: (view:) %>

<div class="-mt-12 min-h-24 flex justify-center items-center">
  <%= render("users/sign_game", user: layout.current_user) %>
</div>

<div
  class="
    grid md:grid-cols-2
    gap-x-28 gap-y-12
  "
>
  <div class="md:justify-self-end space-y-6">
    <h3>Performance Metrics</h3>

    <table class="-m-3">
      <tbody class="*:*:px-3 *:*:py-1">
        <tr>
          <th class="text-left">Duration</th>
          <td><%= view.duration %></td>
        </tr>
        <tr>
          <th class="text-left"># Active Players</th>
          <td><%= view.players_count %></td>
        </tr>
        <tr>
          <th class="text-left"># Cells Revealed</th>
          <td><%= view.reveals_count %></td>
        </tr>
        <tr>
          <th class="text-left"># Flags Placed</th>
          <td><%= view.flags_count %></td>
        </tr>
        <tr>
          <th class="text-left"># Flags Removed</th>
          <td><%= view.unflags_count %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="space-y-6">
    <h3>Duty Roster</h3>

    <div
      data-turbo-prefetch="false"
      class="flex flex-col gap-y-2"
    >
      <% view.duty_roster.each_with_index do |user, index| %>
        <div class="flex items-baseline gap-x-3">
          <span><%= index.next %>.</span>
          <%= render("games/duty_roster", user:) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
