<%# locals: (title:) %>

<h3 class="flex justify-center gap-x-8">
  <span
    data-controller="clipboard"
    data-clipboard-source-value="<%= title.game_absolute_url %>"
    data-clipboard-highlight-class="
      text-green-500 animate-ping-once origin-center
    "
    class="flex gap-x-2 items-center"
  >
    <%= link_to(
          title.game_number,
          title.game_url,
          data: { turbo_frame: :_top }) %>
    <%= inline_svg_tag(
          "heroicons/clipboard-document.svg",
          class: "btn-basic",
          data: {
            action:
              "click->clipboard#copy "\
              "animationend->clipboard#dehighlight",
          }) %>
  </span>

  <span aria-label="Engagement Date">
    <%= title.engagement_date %>
  </span>

  <span
    aria-label="Engagement Time Range"
    class="relative text-dim font-normal max-sm:hidden"
  >
    <%= title.engagement_time_range %>
    <% if title.engagement_date_range_increment? %>
      <span
        title="<%= title.engagement_date_range_increment_title %>"
        class="absolute -right-11 bottom-0 text-base text-dim-xl"
      >(+<%= title.engagement_date_range_increment %>)</span>
    <% end %>
  </span>
</h3>
