<%# locals: (title:) %>

<h3 class="flex justify-center items-baseline gap-x-8">
  <%= render(
        layout: "copy_button",
        locals: { value: title.game_absolute_url, title: title.title_text }) do %>
    <%= link_to(
          title.game_number,
          title.game_url,
          data: { turbo_frame: :_top }) %>
  <% end %>

  <span aria-label="Engagement Date">
    <%= title.engagement_date %>
  </span>

  <span
    aria-label="Engagement Time Range"
    class="relative text-dim font-normal max-sm:hidden"
  >
    <%= title.engagement_time_range %>
    <% if title.engagement_date_range_increment? %>
      <span
        title="<%= title.engagement_date_range_increment_title %>"
        class="absolute -right-11 bottom-0 text-base text-dim-xl"
      >(+<%= title.engagement_date_range_increment %>)</span>
    <% end %>
  </span>
</h3>
