<%# locals: (title:) %>

<h3
  class="
    flex justify-center gap-x-8
    max-sm:flex-col max-sm:items-center gap-y-3
  "
>
  <span
    data-controller="clipboard"
    data-clipboard-source-value="<%= title.game_absolute_url %>"
    data-clipboard-highlight-class="
      text-green-500 animate-ping-once origin-center
    "
    class="flex gap-x-2 items-center max-sm:font-bold"
  >
    <%= link_to(
          title.game_number,
          title.game_url,
          data: { turbo_frame: :_top }) %>
    <%= inline_svg_tag(
          "heroicons/clipboard-document.svg",
          class: "btn-basic",
          data: {
            action:
              "click->clipboard#copy "\
              "animationend->clipboard#dehighlight"
          }) %>
  </span>

  <span aria-label="Engagement Date">
    <%= title.game_engagement_date %>
  </span>

  <span aria-label="Engagement Time Range">
    <%= title.game_engagement_time_range %>
  </span>
</h3>
