<% title("Sweep Ops Archive") %>
<% description(t("games.meta_description")) %>

<%= turbo_stream_from(@index, id: @index.turbo_stream_dom_id) %>

<div
  data-turbo-prefetch="false"
  class="container mx-auto space-y-12"
>
  <div class="flex max-lg:flex-col justify-between gap-y-6">
    <h1><%= title %></h1>

    <div class="text-dim">
      <% if @index.show_time_zone_form?(user: current_user) %>
        <%= render(
              "users/time_zone/form",
              form: @index.time_zone_form(user: current_user)) %>
      <% else %>
        <%= @index.current_time_zone_description %>
      <% end %>
    </div>
  </div>

  <div class="py-6 border-y border-dim">
    <ul
      class="
        active-nav
        flex flex-wrap justify-center items-center
        gap-x-12 gap-y-3
      "
    >
      <% @index.types.each do |type| %>
        <li>
          <%= link_to(
                type.filter_name,
                type.games_filter_url,
                class: type.css) %>
          <span class="text-dim-lg">
            (<%= type.games_count %> / <%= type.games_percentage %>)
          </span>
        </li>
      <% end %>
    </ul>
  </div>

  <h2 class="h3 text-center">
    <%= render(
          "games/past/engagement_tally",
          engagement_tally: @index.engagement_tally) %>
  </h2>

  <%= render(
        "games/index/paginated_listings_groups",
        paginated_listings_groups: @index.paginated_listings_groups) %>
</div>
