<% title("Sweep Ops Archive") %>

<%= turbo_stream_from(:sweep_ops_archive) %>

<div class="container mx-auto space-y-12">
  <div
    class="
      flex flex-col lg:flex-row
      content-start lg:justify-between lg:items-end
      gap-y-6
    "
  >
    <h1>Sweep Ops Archives</h1>

    <% @view.time_zone_form(user: current_user).tap do |form| %>
      <%= form_with(model: form, url: form.post_url) do |f| %>
          <%= f.label(:time_zone, "Time Zone:", class: "sr-only") %>
          <%= f.time_zone_select(
                :time_zone,
                form.priority_zones,
                {},
                data: { action: "time-zone#select" },
                class: %w[
                  form-select w-full sm:w-auto
                  pl-0 md:pl-1 py-1 pr-10 sm:pr-0
                  text-gray-500 dark:text-neutral-400
                  border-b-transparent dark:border-b-transparent
                ]) %>
      <% end %>
    <% end %>
  </div>

  <nav class="border-y border-gray-300 dark:border-y-neutral-600 py-6">
    <ul
      class="
        flex flex-wrap justify-center items-center
        gap-x-12 gap-y-3
      "
    >
      <% @view.types.each do |type| %>
        <li>
          <%= link_to(
                "#{type.initials} = #{type.name}",
                type.games_filter_url,
                class: type.css_classes,
                data: { turbo_prefetch: "false" }) %>
          <span class="text-gray-400 dark:text-gray-500">
            (<%= type.games_count %> /
            <%= number_to_percentage(type.games_percent, precision: 0) %>)
          </span>
        </li>
      <% end %>
    </ul>
  </nav>

  <h2 class="h3 text-center">
    <%= render("engagement_tally", view: @view.engagement_tally) %>
  </h2>

  <%= render("listings", view: @view) %>
</div>
