<%# locals: (nav:) %>

<div id="<%= nav.turbo_target %>">
  <% if nav.participant? %>
    <%= active_link_to(
          nav.account_url,
          data: { turbo_frame: :_top }) do %>
      <span
        data-signer="<%= nav.signer? %>"
        class="max-md:hidden"
      >
        <%= nav.updateable_display_name %>
      </span>
      <span class="text-xl/5 relative top-0.5"><%= Emoji.medal %></span>
    <% end %>
  <% else %>
    <span class="max-md:hidden"><%= t("site.name") %></span>
  <% end %>
</div>
