<%# locals: (metrics:) %>

<% cache(metrics.cache_key) do %>
  <h4 class="h3">Metrics</h4>

  <table
    class="
      -my-2
      border-separate border-spacing-y-2
      text-left
    "
  >
    <tbody>
      <% if metrics.show_game_score? %>
        <tr>
          <th>
            <%= render("tooltip", text: "Score") %>
          </th>
          <td>
            <time
              datetime="PT<%= metrics.game_score %>S"
            ><%= metrics.game_score %></time>
          </td>
        </tr>
        <tr>
          <th>
            <%= render("tooltip", text: "3BV", term: "bbbv") %>
          </th>
          <td><%= metrics.bbbv %></td>
        </tr>
        <tr>
          <th>
            <%= render("tooltip", text: "3BV/s", term: "bbbvps") %>
          </th>
          <td><%= metrics.bbbvps %></td>
        </tr>
        <tr>
          <th>
            <%= render("tooltip", text: "Efficiency") %>
          </th>
          <td><%= metrics.efficiency_percentage %></td>
        </tr>
      <% end %>
      <tr>
        <th>Clicks</th>
        <td><%= metrics.clicks_count %></td>
      </tr>
      <tr class="*:pl-6">
        <th>
          <%= render("tooltip", text: "Reveals") %>
        </th>
        <td><%= metrics.reveals_count %></td>
      </tr>
      <tr class="*:pl-6">
        <th>
          <%= render("tooltip", text: "Chords") %>
        </th>
        <td><%= metrics.chords_count %></td>
      </tr>
      <tr class="*:pl-6">
        <th>Flags Placed</th>
        <td><%= metrics.flags_count %></td>
      </tr>
      <tr class="*:pl-6">
        <th>Flags Removed</th>
        <td><%= metrics.unflags_count %></td>
      </tr>
    </tbody>
  </table>
<% end %>
