<%# locals: (metrics:) %>

<% cache_if(metrics.cacheable?, metrics.cache_key) do %>
  <h4 class="h3">Metrics</h4>

  <table
    class="
      -my-2
      border-separate border-spacing-y-2
      text-left
    "
  >
    <tbody>
      <% if metrics.show_performance_metrics? %>
        <%= render(
              "games/past/performance_metrics",
              performance_metrics:
                metrics.performance_metrics(user: current_user),
            ) %>
      <% end %>

      <tr>
        <td></td>
        <th>Clicks</th>
        <td><%= metrics.clicks_count %></td>
      </tr>
      <tr>
        <td></td>
        <th class="pl-6"><%= tt("Reveals") %></th>
        <td class="pl-6"><%= metrics.reveals_count %></td>
      </tr>
      <tr>
        <td></td>
        <th class="pl-6"><%= tt("Chords") %></th>
        <td class="pl-6"><%= metrics.chords_count %></td>
      </tr>
      <tr>
        <td></td>
        <th class="pl-6">Flags Placed</th>
        <td class="pl-6"><%= metrics.flags_count %></td>
      </tr>
      <tr>
        <td></td>
        <th class="pl-6">Flags Removed</th>
        <td class="pl-6"><%= metrics.unflags_count %></td>
      </tr>
    </tbody>
  </table>
<% end %>
