<%# locals: (metrics:) %>

<% cache(metrics.cache_key) do %>
  <h4 class="h3">Metrics</h4>

  <table
    class="
      -my-2
      border-separate border-spacing-y-2
      text-left
    "
  >
    <tbody>
      <% if metrics.show_performance_metrics? %>
        <%= render(
              "games/past/performance_metrics",
              performance_metrics:
                metrics.performance_metrics(user: current_user)) %>
      <% end %>

      <tr>
        <th>Clicks</th>
        <td><%= metrics.clicks_count %></td>
      </tr>
      <tr class="*:pl-6">
        <th>
          <%= render("tooltip", text: "Reveals") %>
        </th>
        <td><%= metrics.reveals_count %></td>
      </tr>
      <tr class="*:pl-6">
        <th>
          <%= render("tooltip", text: "Chords") %>
        </th>
        <td><%= metrics.chords_count %></td>
      </tr>
      <tr class="*:pl-6">
        <th>Flags Placed</th>
        <td><%= metrics.flags_count %></td>
      </tr>
      <tr class="*:pl-6">
        <th>Flags Removed</th>
        <td><%= metrics.unflags_count %></td>
      </tr>
    </tbody>
  </table>
<% end %>
