<%# locals: (page_nav:) %>

<span class="mr-3 flex items-center gap-x-1 text-dim-xl">
  <%= page_nav.breadcrumb_name %>
  <%= inline_svg_tag("heroicons/chevron-right.svg") %>
</span>

<% if page_nav.show_close_button? %>
  <%= link_to(page_nav.close_game_url, title: "Close Op") do %>
    <%= inline_svg_tag("heroicons/x-mark.svg") %>
  <% end %>
<% end %>

<% if page_nav.previous_game? %>
  <%= link_to(page_nav.previous_game_url, title: "Previous Op") do %>
    <%= inline_svg_tag("heroicons/arrow-long-left.svg") %>
  <% end %>
<% else %>
  <%= inline_svg_tag(
        "heroicons/arrow-long-left.svg",
        class: "text-dim-xl") %>
<% end %>

<% if page_nav.next_game? %>
  <%= link_to(page_nav.next_game_url, title: "Next Op") do %>
    <%= inline_svg_tag("heroicons/arrow-long-right.svg") %>
  <% end %>
<% else %>
  <%= inline_svg_tag(
        "heroicons/arrow-long-right.svg",
        class: "text-dim-xl") %>
<% end %>

<% if page_nav.show_current_game_button? %>
  <%= link_to(page_nav.current_game_url, title: "War Room") do %>
    <%= inline_svg_tag("heroicons/arrow-right-circle.svg") %>
  <% end %>
<% end %>
