<%# locals: (performance_metrics:) %>

<% performance_metrics.score.tap do |score| %>
  <tr class="<%= class_names(score.container_css) %>">
    <td
      class="md:-ml-14 not-empty:pr-2 flex gap-x-0 justify-end text-xl/5"
    ><%= render(score.partial_path) if score.best? %></td>
    <th><%= tt("Score") %></th>
    <td>
      <time datetime="PT<%= score %>S"><%= score %></time>
    </td>
  </tr>
<% end %>

<tr>
  <td></td>
  <th><%= tt("3BV", key: "bbbv") %></th>
  <td><%= performance_metrics.bbbv %></td>
</tr>

<% performance_metrics.bbbvps.tap do |bbbvps| %>
  <tr class="<%= class_names(bbbvps.container_css) %>">
    <td
      class="md:-ml-14 not-empty:pr-2 flex gap-x-0 justify-end text-xl/5"
    ><%= render(bbbvps.partial_path) if bbbvps.best? %></td>
    <th><%= tt("3BV/s", key: "bbbvps") %></th>
    <td><%= bbbvps %></td>
  </tr>
<% end %>

<% performance_metrics.efficiency.tap do |efficiency| %>
  <tr class="<%= class_names(efficiency.container_css) %>">
    <td
      class="md:-ml-14 not-empty:pr-2 flex gap-x-0 justify-end text-xl/5"
    ><%= render(efficiency.partial_path) if efficiency.best? %></td>
    <th><%= tt("Efficiency") %></th>
    <td><%= efficiency %></td>
  </tr>
<% end %>
