<%# locals: (performance_metrics:) %>

<% performance_metrics.score.tap do |score| %>
  <tr class="<%= class_names(score.css) %>">
    <th>
      <%= render("alliance_best") if score.alliance_best? %>
      <%= render("tooltip", text: "Score") %>
    </th>
    <td>
      <time
        datetime="PT<%= score %>S"
      ><%= score.value %></time>
    </td>
  </tr>
<% end %>
<tr>
  <th><%= render("tooltip", text: "3BV", term: "bbbv") %></th>
  <td><%= performance_metrics.bbbv %></td>
</tr>
<% performance_metrics.bbbvps.tap do |bbbvps| %>
  <tr class="<%= class_names(bbbvps.css) %>">
    <th>
      <%= render("alliance_best") if bbbvps.alliance_best? %>
      <%= render("tooltip", text: "3BV/s", term: "bbbvps") %>
    </th>
    <td><%= bbbvps.value %></td>
  </tr>
<% end %>
<% performance_metrics.efficiency.tap do |efficiency| %>
  <tr class="<%= class_names(efficiency.css) %>">
    <th>
      <%= render("alliance_best") if efficiency.alliance_best? %>
      <%= render("tooltip", text: "Efficiency") %>
    </th>
    <td><%= efficiency.value %></td>
  </tr>
<% end %>
