<tr>
  <th class="pl-6">Beginner</th>
  <td class="<%= metric.beginner_table_cell_css %>">
    <%= link_to_if(
          metric.beginner_value?,
          metric.beginner_value,
          metric.beginner_url,
          data: {
            action: metric.link_action,
            turbo_frame: metric.turbo_frame_name,
          }) %>
  </td>
</tr>
<tr>
  <th class="pl-6">Intermediate</th>
  <td class="<%= metric.intermediate_table_cell_css %>">
    <%= link_to_if(
          metric.intermediate_value?,
          metric.intermediate_value,
          metric.intermediate_url,
          data: {
            action: metric.link_action,
            turbo_frame: metric.turbo_frame_name,
          }) %>
  </td>
</tr>
<tr>
  <th class="pl-6">Expert</th>
  <td class="<%= metric.expert_table_cell_css %>">
    <%= link_to_if(
          metric.expert_value?,
          metric.expert_value,
          metric.expert_url,
          data: {
            action: metric.link_action,
            turbo_frame: metric.turbo_frame_name,
          }) %>
  </td>
</tr>
