<div class="container mx-auto space-y-12">
  <h1>About</h1>

  <p><%= t("site.description_html") %></p>

  <div class="space-y-6">
    <h2 class="h4">This game is:</h2>
    <ul class="space-y-3 list-[circle] ml-7">
      <li>
        Open source software
        (on <%= external_link_to(
              "GitHub",
              "https://github.com/pdobb/minesweeper_alliance") %>),
        under the terms of the
        <%= external_link_to(
              "MIT License",
              "https://opensource.org/licenses/MIT") %>.
      </li>
      <li>
        Written in Ruby on Rails, featuring
        <%= external_link_to("Hotwire", "https://hotwired.dev/") %>
        for real-time interaction.
      </li>
      <li>
        Styled with
        <%= external_link_to("Tailwind CSS", "https://tailwindcss.com") %>.
      </li>
      <li>
        Heavily inspired by Radan Skorić's
        <%= external_link_to("Mines vs Humanity", "https://minesvshumanity.com/") %>.
      </li>
    </ul>
  </div>

  <div class="space-y-6">
    <h2 class="h4">What is a Minesweeper?</h2>
    <ul class="space-y-3 list-[circle] ml-7">
      <li>
        A minesweeper is a small warship designed to remove or detonate naval mines
        (<%= external_link_to(
              "Minesweeper (wiki)",
              "https://en.wikipedia.org/wiki/Minesweeper") %>).
      </li>
    </ul>
  </div>

  <div class="space-y-6">
    <h2 class="h4">What is MMS-#### (e.g. <%= current_user.mms_id %>)?</h2>
    <ul class="space-y-3 list-[circle] ml-7">
      <li>
        Players are uniquely identified by a Motor Mine Sweeper (MMS) designation (+ username).
      </li>
      <li>
        MMS is a nod to the Royal Navy's wooden
        <%= external_link_to(
              "MMS-class Minesweeper",
              "https://en.wikipedia.org/wiki/MMS-class_minesweeper") %>
        fleet.
      </li>
    </ul>
  </div>

  <div class="space-y-6">
    <h2 class="h4">
      Mobile support seems<span class="font-sans">&hellip;</span> lacking?
    </h2>
    <ul class="space-y-3 list-[circle] ml-7">
      <li>
        This game relies on left-click, right-click, mouse-down, and mouse-up events <span class="text-gray-500 dark:text-neutral-400">(for revealing cells, placing flags, highlighting neighboring cells, and revealing neighboring cells (chording) / clearing highlights, respectively)</span>. Unfortunately, mobile browser support for any of these other than "left-click" is poor. A future "flag toggle" mode could allow for placing flags, but may be a bit cumbersome. As a result, our primary focus for mobile thus far has just been to allow for following along with the action.
      </li>
      <li>
        Note: The grid is transposed to better fit on mobile displays as needed<span class="font-sans">&mdash;</span>when it is wider than it is tall (and when<span class="font-sans">&hellip;</span> other<span class="font-sans">&hellip;</span> conditions allow for it 😉).
      </li>
    </ul>
  </div>

  <p>
    Thank you for playing our game.
    <span class="dark:opacity-80"><%= Emoji.heart %></span>
  </p>

  <p>For the alliance!</p>
</div>
