<%# locals: (rules:) %>

<%= render(
      layout: "collapse_container",
      locals: {
        collapse_container: rules.collapse_container(context: layout),
      },
    ) do %>
  <ol class="space-y-2 list-decimal ml-7">
    <li>
      <strong><%= rules.reveal_method_descriptor %></strong> a cell to reveal it.
    </li>
    <li>
      A revealed cell indicates the number of mines (<%= Emoji.mine %>) in the cells surrounding it.
      <ul class="list-['–'] ml-2 *:pl-3 space-y-px text-dim">
        <li>
          Possible values include: Blank/0, or 1–8.
        </li>
      </ul>
    </li>
    <li>
      <strong><%= rules.flag_method_descriptor %></strong>
      a cell to flag (<%= Emoji.flag %>) it as a suspected mine (<%= Emoji.mine %>).
    </li>
    <li>
      <strong><%= rules.reveal_neighbors_method_descriptor %></strong>
      a numbered cell to reveal its surrounding cells. (This is called "Chording".)
      <ul class="list-['–'] ml-2 *:pl-3 space-y-px text-dim">
        <li>
          Possible only after the corresponding number of surrounding cells have been flagged.
        </li>
        <li>
          Warning:
          This does not protect against mistaken flag (<%= Emoji.flag %>) placements!
        </li>
      </ul>
    </li>
    <li>
      The game is <strong>lost</strong> if a mine (<%= Emoji.mine %>) is revealed.
    </li>
    <li>
      The game is <strong>won</strong> when all non-mine cells are revealed.
      <ul class="list-['–'] ml-2 *:pl-3 space-y-px text-dim">
        <li>Regardless of how many flags have been placed.</li>
      </ul>
    </li>
  </ol>

  <p>
    <%= Emoji.clover %> Good luck!
    The Alliance is counting on you<span class="font-sans">&hellip;</span>
  </p>
<% end %>
