<%# locals: (status:) %>

<div
  data-controller="menu"
  data-action="keydown.esc@window->menu#escape"
  class="container mx-auto"
>
  <h2 class="text-center cursor-default">
    <span class="<%= class_names(status.game_status_css) %>">
      <%= status.game_status %>
    </span>

    <span class="inline-flex items-baseline gap-x-3 font-normal leading-5">
      <%= status.game_status_emoji %>

      <button
        type="button"
        data-menu-target="button"
        data-action="menu#toggle"
        aria-label="Toggle Roster"
        aria-haspopup="true"
        aria-expanded="false"
        title="Fleet Size"
        class="small inline-flex gap-x-1 border-b border-dashed btn-basic"
      >
        <span class="text-[17px] text-dim-sm">x</span>
        <span id="fleet_size"><%= status.fleet_size %></span>
      </button>
    </span>
  </h2>

  <div
    data-menu-target="menu"
    data-transition-enter="transform transition ease-in-out duration-500"
    data-transition-enter-start="translate-x-full"
    data-transition-enter-end="translate-x-0"
    data-transition-leave="transform transition ease-in-out duration-500"
    data-transition-leave-start="translate-x-0"
    data-transition-leave-end="translate-x-full"
    aria-hidden="true"
    aria-orientation="vertical"
    tabindex="0"
    class="
      hidden
      absolute -top-12 right-0 z-10
      p-6 max-w-64
      bg-white dark:bg-neutral-800
      border-l border-dim
      text-right
    "
  >
    <% status.roster.tap do |roster| %>
      <%= turbo_frame_tag(roster.turbo_frame_name, class: "block") do %>
        <%= render("games/current/roster", roster:) %>
      <% end %>
    <% end %>
  </div>
</div>
