<%# locals: (view:) %>

<% content_for(:page_nav) do %>
  <%= render("games/current/page_nav", nav: view.nav) %>
<% end %>

<%= turbo_frame_tag(view.turbo_frame_name, class: "space-y-12") do %>
  <% view.content.tap do |content| %>
    <%= turbo_frame_tag(content.turbo_frame_name) do %>
      <%= render("games/current/content", content:) %>
    <% end %>
  <% end %>

  <div class="container mx-auto">
    <%= render("games/current/footer", footer: view.footer(self)) %>
  </div>
<% end %>
