<%# locals: (collapse_container:) %>

<div
  data-controller="collapse"
  data-collapse-open-class="open"
  <% if collapse_container.cookie_store? %>
    data-collapse-cookie-name-value="<%= collapse_container.cookie_name %>"
  <% end %>
  class="
    group space-y-6
    <%= "open" if collapse_container.open? %>
  "
>
  <button
    id="<%= collapse_container.button_id %>"
    data-collapse-target="button"
    data-action="
      collapse#toggle
      <% if collapse_container.record_interaction? %>
        page#recordInteraction
      <% end %>
    "
    <% if collapse_container.record_interaction? %>
      data-interaction-name="<%= collapse_container.interaction_data %>"
    <% end %>
    aria-controls="<%= collapse_container.content_id %>"
    aria-label="Toggle <%= collapse_container.button_text %>"
    aria-haspopup="true"
    aria-expanded="<%= collapse_container.open? %>"
    class="
      group-[.open]:btn-basic not-group-[.open]:text-dim-lg
      flex items-center gap-x-3
      cursor-pointer transition-colors
      <%= class_names(collapse_container.button_css) %>
    "
  >
    <%= collapse_container.button_text %>
    <%= inline_svg_tag(
          "heroicons/chevron-down.svg",
          class: %w[
            stroke-2 transition-transform not-group-[.open]:-rotate-90
          ],
        ) %>
  </button>

  <div
    id="<%= collapse_container.content_id %>"
    data-collapse-target="content"
    data-transition-enter="transition ease-out duration-100"
    data-transition-enter-start="transform opacity-0 scale-95"
    data-transition-enter-end="transform opacity-100 scale-100"
    data-transition-leave="transition ease-in duration-75"
    data-transition-leave-start="transform opacity-100 scale-100"
    data-transition-leave-end="transform opacity-0 scale-95"
    role="region"
    aria-labelledby="<%= collapse_container.button_id %>"
    aria-hidden="<%= collapse_container.collapsed? %>"
    class="
      <%= "hidden" if collapse_container.collapsed? %>
      <%= class_names(collapse_container.content_css) %>
    "
  >
    <%= yield %>
  </div>
</div>
