<%# locals: (view:) %>

<div
  data-controller="collapse"
  data-collapse-button-toggle-class="<%= view.collapsed_button_css %>"
  data-collapse-icon-toggle-class="<%= view.collapsed_icon_css %>"
  <% if view.respond_to?(:cookie_name) %>
    data-collapse-cookie-name-value="<%= view.cookie_name %>"
  <% end %>
  class="space-y-6"
>
  <button
    id="<%= view.button_id %>"
    data-collapse-target="button"
    data-action="collapse#toggle"
    aria-controls="<%= view.content_id %>"
    aria-label="Toggle <%= view.button_text %>"
    aria-haspopup="true"
    aria-expanded="<%= view.open? %>"
    class="
      flex items-center gap-x-3
      <%= class_names(view.button_css) %>
    "
  >
    <%= view.button_text %>
    <%= inline_svg_tag(
          "heroicons/chevron-down.svg",
          class:
            "stroke-2 transition-transform "\
            "#{class_names(view.icon_css)}",
          data: { collapse_target: "icon" }) %>
  </button>

  <div
    id="<%= view.content_id %>"
    data-collapse-target="section"
    data-transition-enter="transition ease-out duration-100"
    data-transition-enter-start="transform opacity-0 scale-95"
    data-transition-enter-end="transform opacity-100 scale-100"
    data-transition-leave="transition ease-in duration-75"
    data-transition-leave-start="transform opacity-100 scale-100"
    data-transition-leave-end="transform opacity-0 scale-95"
    role="region"
    aria-labelledby="<%= view.button_id %>"
    aria-hidden="<%= view.collapsed? %>"
    class="<%= class_names(view.section_css) %>"
  >
    <%= yield %>
  </div>
</div>
