<%# locals: (collapse_container:) %>

<div
  data-controller="collapse"
  data-collapse-button-toggle-class="<%= collapse_container.collapsed_button_css %>"
  data-collapse-icon-toggle-class="<%= collapse_container.collapsed_icon_css %>"
  <% if collapse_container.respond_to?(:cookie_name) %>
    data-collapse-cookie-name-value="<%= collapse_container.cookie_name %>"
  <% end %>
  class="space-y-6"
>
  <button
    id="<%= collapse_container.button_id %>"
    data-collapse-target="button"
    data-action="
      collapse#toggle
      <% if collapse_container.record_interaction? %>
        page#recordInteraction
      <% end %>
    "
    <% if collapse_container.record_interaction? %>
      data-interaction-name="<%= collapse_container.interaction_data %>"
    <% end %>
    aria-controls="<%= collapse_container.content_id %>"
    aria-label="Toggle <%= collapse_container.button_text %>"
    aria-haspopup="true"
    aria-expanded="<%= collapse_container.open? %>"
    class="
      flex items-center gap-x-3
      <%= class_names(collapse_container.button_css) %>
    "
  >
    <%= collapse_container.button_text %>
    <%= inline_svg_tag(
          "heroicons/chevron-down.svg",
          class: [
            %w[btn-basic stroke-2 transition-transform],
            collapse_container.icon_css,
          ],
          data: { collapse_target: "icon" }) %>
  </button>

  <div
    id="<%= collapse_container.content_id %>"
    data-collapse-target="section"
    data-transition-enter="transition ease-out duration-100"
    data-transition-enter-start="transform opacity-0 scale-95"
    data-transition-enter-end="transform opacity-100 scale-100"
    data-transition-leave="transition ease-in duration-75"
    data-transition-leave-start="transform opacity-100 scale-100"
    data-transition-leave-end="transform opacity-0 scale-95"
    role="region"
    aria-labelledby="<%= collapse_container.button_id %>"
    aria-hidden="<%= collapse_container.collapsed? %>"
    class="<%= class_names(collapse_container.section_css) %>"
  >
    <%= yield %>
  </div>
</div>
