<%# locals: () %>

<div
  class="
    container mx-auto
    flex flex-col lg:flex-row gap-y-6
    justify-between items-center
  "
>
  <nav class="lg:order-2 w-full lg:w-fit">
    <ul class="flex justify-between items-center gap-x-24 lg:gap-x-8">
      <li><%= active_link_to("About", about_path) %></li>
      <li
        class="
          hidden lg:inline
          border-l border-gray-300 dark:border-neutral-600
          self-stretch
        "
      ></li>
      <li>
        <%= render("layouts/theme_selector") %>
      </li>
    </ul>
  </nav>

  <small class="text-center text-dim lg:order-1">
    <%= link_to_if(
          App.development?,
          "©",
          ui_portal_root_path,
          class: "no-underline") %>
    <%= Date.today.year %> Minesweeper Alliance
    <span class="font-sans text-dim-lg mx-1">&mdash;</span>
    Made with
    <span class="opacity-80"><%= Emoji.heart %></span>
    by the <%= t("footer.maker_html").sample %>
  </small>
</div>
