<%# locals: () %>

<nav class="relative container mx-auto flex justify-between">
  <ul class="flex gap-x-6 md:gap-x-10 lg:gap-x-12">
    <li class="relative">
      <%= active_link_to("War Room", root_path) %>
      <%= render(
            "games/current/activity_indicator",
            activity_indicator: layout.activity_indicator) %>
    </li>
    <li>
      <%= active_link_to(games_path, includes: GamesController.name) do %>
        <span class="sm:hidden">Archive</span>
        <span class="max-sm:hidden">Sweep Ops Archive</span>
      <% end %>
    </li>
    <li>
      <%= active_link_to(
            "Metrics", metrics_path, includes: Metrics::GamesController.name) %>
    </li>
  </ul>

  <%= render(
        "current_user/nav",
        nav: CurrentUser::Nav.new(user: current_user)) %>

  <% if content_for?(:page_nav) %>
    <div
      class="
        absolute -bottom-12 translate-y-1/2
        no-active-links
        flex items-center gap-x-3 text-sm text-dim
      "
    >
      <%= yield(:page_nav) %>
    </div>
  <% end %>
</nav>
