<%# locals: (slide_menu:) %>

<section
  data-controller="slide-menu"
  <% if slide_menu.respond_to?(:cookie_name) %>
    data-slide-menu-cookie-name-value="<%= slide_menu.cookie_name %>"
  <% end %>
>
  <% slide_menu.open_button.tap do |open_button| %>
    <button
      data-slide-menu-target="openButton"
      data-action="slide-menu#open"
      type="button"
      aria-label="Open <%= slide_menu.title %>"
      aria-haspopup="true"
      aria-expanded="<%= slide_menu.open? %>"
      class="
        <%= "hidden" unless slide_menu.closed? %>
        <%= class_names(open_button.css) %>
        -m-2 pt-1 px-3 bg-white dark:bg-neutral-800
        btn-basic text-dim
      "
    >
      <%= inline_svg_tag(
            "heroicons/chevron-#{open_button.direction}.svg",
            class: ["stroke-2", open_button.svg_css],
          ) %>
      <%= open_button.text %>
    </button>
  <% end %>

  <div
    data-slide-menu-target="menu"
    data-transition-enter="transform transition ease-in-out duration-500"
    data-transition-enter-start="translate-x-full"
    data-transition-enter-end="translate-x-0"
    data-transition-leave="transform transition ease-in-out duration-500"
    data-transition-leave-start="translate-x-0"
    data-transition-leave-end="translate-x-full"
    aria-hidden="<%= slide_menu.closed? %>"
    aria-orientation="vertical"
    tabindex="0"
    class="
      <%= "hidden" if slide_menu.closed? %>
      <%= class_names(slide_menu.css) %>
      p-6 bg-white dark:bg-neutral-800
      border-dim
    "
  >
    <% slide_menu.close_button.tap do |close_button| %>
      <button
        data-action="slide-menu#close"
        data-slide-menu-target="closeButton"
        type="button"
        aria-label="Close <%= slide_menu.title %>"
        class="
          <%= class_names(close_button.css) %>
          -m-2 p-2 btn-basic text-dim
        "
      >
        <%= inline_svg_tag(
              "heroicons/chevron-#{close_button.direction}.svg",
              class: "stroke-2",
            ) %>
      </button>
    <% end %>

    <%= yield %>
  </div>
</section>
