<%# locals: (text:, description: nil, term: text.underscore, type: :hover, placement: :top, css: nil) %>

<% aria_id = "tooltip-#{rand(100_000)}" %>

<span
  data-controller="tooltip"
  data-tooltip-placement-value="<%= placement %>"
  data-action="
    <% if layout.mobile? %>
      click->tooltip#toggle
      mouseout->tooltip#hide
    <% elsif type == :click %>
      click->tooltip#toggle
      keydown.esc@window->tooltip#hide
    <% else %>
      mouseover->tooltip#show
      mouseout->tooltip#hide
    <% end %>
  "
>
  <dfn
    data-tooltip-target="anchor"
    aria-describedby="<%= aria_id %>"
  >
    <%= text %>
  </dfn>
  <div
    id="<%= aria_id %>"
    data-tooltip-target="tooltip"
    role="tooltip"
    class="<%= css %> min-w-20 max-w-80"
  >
    <div data-tooltip-target="arrow"></div>
    <span><%= description || t(term, scope: "terms") %></span>
  </div>
</span
