<%# locals: (tooltip:) %>

<span
  data-controller="tooltip"
  data-tooltip-placement-value="<%= tooltip.placement %>"
  data-action="
    <% if tooltip.mobile? %>
      click->tooltip#toggle
      mouseout->tooltip#hide
    <% elsif tooltip.click? %>
      click->tooltip#toggle
      keydown.esc@window->tooltip#hide
    <% else %>
      mouseover->tooltip#show
      mouseout->tooltip#hide
    <% end %>
  "
>
  <dfn
    data-tooltip-target="anchor"
    aria-describedby="<%= tooltip.aria_id %>"
    class="<%= class_names(tooltip.anchor_css) %>"
  >
    <%= tooltip.anchor %>
  </dfn>

  <div
    id="<%= tooltip.aria_id %>"
    data-tooltip-target="tooltip"
    role="tooltip"
    class="
      min-w-20 max-w-80
      <%= class_names(tooltip.content_css) %>
    "
  >
    <div data-tooltip-target="arrow"></div>
    <%= tooltip.content %>
  </div>
</span>
