<%# locals: () %>

<%= turbo_frame_tag(current_user, "nav") do %>
  <% if current_user.signer? %>
    <%= active_link_to(
          user_path(current_user),
          includes: Users::GamesController.name,
          data: { turbo_frame: :_top }) do %>
      <span class="max-md:hidden">
        <%= current_user.display_name %>
      </span>
      <%= Emoji.profile %>
    <% end %>
  <% else %>
    <span class="max-md:hidden"><%= t("site.name") %></span>
  <% end %>
<% end %>
