<%# locals: () %>

<% user = layout.current_user %>

<%= turbo_frame_tag(user, "nav") do %>
  <% if layout.current_user_has_signed_their_name? %>
    <%= active_link_to(
          user_path(user),
          data: { turbo_frame: :_top }) do %>
      <span class="hidden md:inline">
        <%= layout.current_user_display_name %>
      </span>
      <%= Icon.profile %>
    <% end %>
  <% else %>
    <span class="hidden md:inline">
      <%= t("site.name") %>
    </span>
  <% end %>
<% end %>
