<% title("Account > #{@show.display_name}") %>

<div class="container mx-auto space-y-12">
  <div class="-mt-7.5 mb-12 flex justify-end">
    <div class="flex gap-x-3">
      <%= inline_svg_tag("heroicons/arrow-uturn-right.svg") %>
      <%= link_to("Personnel File", @show.personnel_file_url(current_user:)) %>
    </div>
  </div>

  <div class="space-y-6">
    <h1>Account</h1>

    <div class="max-sm:space-y-6">
      <h2 class="h4 flex max-sm:flex-col sm:items-center gap-x-6">
        Username:
        <div class="min-h-13 flex items-center font-normal text-base">
          <%= render(
                "current_user/account/username",
                username: @show.username) %>
        </div>
      </h2>

      <div class="h4 flex max-sm:flex-col sm:items-center gap-x-4 gap-y-2">
        Timezone:
        <div class="font-normal">
          <%= render(
                "users/time_zone/form",
                form: @show.time_zone_form) %>
        </div>
      </div>
    </div>
  </div>

  <div class="space-y-3">
    <h3 class="h5">
      <%=
        content = safe_join([
          "Authentication Link",
          tag.span(
            " > #{@show.display_name} — Minesweeper Alliance",
            class: "hidden"),
          inline_svg_tag("heroicons/bookmark.svg"),
        ])

        link_to(
          content,
          @show.authentication_url,
          title: @show.display_name,
          data: { turbo_prefetch: false },
          class: "inline-flex gap-x-2 items-center")
      %>
    </h3>
    <p>To preserve access to your account:</p>
    <ul class="-mt-1 space-y-2 list-[circle] ml-7">
      <li>Right-click the above link and select the "Bookmark" option, or</li>
      <li>Copy and paste the linked URL to somewhere safe.</li>
    </ul>
    <p class="text-dim">
      You'll need to visit the linked URL to (re)gain access to your account if, for example, you switch to a new device or clear your browser cookies.
    </p>
  </div>

  <div class="space-y-3">
    <h3 class="h5">
      <%= link_to(
            @show.reset_account_url,
            data: {
              turbo_method: :delete,
              turbo_confirm:
                t("account.reset.confirmation",
                  name: current_user.display_name),
            },
            class: "inline-flex gap-x-2 items-center") do %>
        Voluntary Discharge
        <%= inline_svg_tag("heroicons/arrow-right-start-on-rectangle.svg") %>
      <% end %>
    </h3>
    <p>Unlink this browser from your account.</p>
    <p>Your username, stats, and game history will remain in the system.</p>
  </div>
</div>
