<% title("Account > #{@view.display_name}") %>

<div class="container mx-auto space-y-12">
  <div class="-mt-7.5 mb-12 flex justify-end">
    <div class="flex gap-x-3">
      <%= inline_svg_tag("heroicons/arrow-uturn-right.svg") %>
      <%= link_to("Personnel File", @view.personnel_file_url(current_user:)) %>
    </div>
  </div>

  <div class="space-y-6">
    <h1>Account</h1>

    <h2 class="h4 flex max-sm:flex-col sm:items-center gap-x-6">
      Username:
      <div class="min-h-13 flex items-center font-normal text-base">
        <%= render(
              "current_user/account/username",
              username: @view.username) %>
      </div>
    </h2>
  </div>

  <div class="space-y-3">
    <h3 class="h5">
      <%=
        content = safe_join([
          "Authentication Link",
          tag.span(
            " > #{@view.display_name} — Minesweeper Alliance",
            class: "hidden"),
          inline_svg_tag("heroicons/bookmark.svg"),
        ])

        link_to(
          content,
          @view.authentication_url,
          title: @view.display_name,
          data: { turbo_prefetch: false },
          class: "inline-flex gap-x-2 items-center")
      %>
    </h3>
    <p>
      Preserve access to your account by right-clicking the above link and choosing "Bookmark".
      Or copy/paste the link to somewhere else for safe keeping.
      <span class="text-dim">Don't share this with others, or they will assume your identity if they visit the link!</span>
    </p>
    <p>
      You'll need to visit the linked page if you change browsers or clear your cookies, for example.
    </p>
  </div>

  <div class="space-y-3">
    <h3 class="h5">
      <%= link_to(
            @view.reset_account_url,
            data: {
              turbo_method: :delete,
              turbo_confirm:
                t("account.reset.confirmation", name: current_user.display_name),
            },
            class: "inline-flex gap-x-2 items-center") do %>
        Voluntary Discharge
        <%= inline_svg_tag("heroicons/arrow-right-start-on-rectangle.svg") %>
      <% end %>
    </h3>
    <p>
      Unlink this browser from your service record.
      <span class="text-dim">Consider bookmarking your Authentication Link first (above), so you have the option to recover your identity later.</span>
    </p>
    <p>
      Your username, stats, and past games history will remain in the Sweep Ops Archive.
    </p>
  </div>
</div>
