<%# locals: (roster:) %>

<div> <%# Because turbo-cable-stream-source is a block-level element. %>
  <%= turbo_stream_from(*roster) %>

  <div class="space-y-3">
    <h4 class="h3">Duty Roster</h4>

    <ol class="list-decimal list-inside space-y-2">
      <% roster.listings.each_with_index do |listing, index| %>
        <li>
          <% if listing.show_current_user_indicator?(current_user) %>
            <span title="Me"><%= Emoji.eyes %></span>
          <% end %>

          <%= link_to(
                listing.updateable_display_name,
                listing.show_user_url,
                data: { turbo_frame: :_top }) %>

          <% if listing.tripped_mine? %>
            <span title="<%= t("game.results.duty_roster.game_loser") %>">
              <%= Emoji.mine %>
            </span>
          <% elsif listing.cleared_board? %>
            <span title="<%= t("game.results.duty_roster.game_winner") %>">
              <%= Emoji.victory %>
            </span>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>
</div>
