<%# locals: (signature:) %>

<%= turbo_frame_tag(*signature.turbo_frame_name, class: "max-sm:w-full") do %>
  <div
    class="
      flex justify-center items-center gap-x-3
      <%= "text-green-600" if signature.not_a_signer? %>
    "
  >
    <%= signature.attribution_prefix %>

    <%= link_to(
          signature.edit_url,
          data: { turbo_stream: true },
          class: "icon-link",
        ) do %>
      <%= signature.link_content %>
      <%= inline_svg_tag("heroicons/pencil-square.svg") %>
    <% end %>

    <% if signature.not_a_signer? %>
      <%= tt(key: "games.just_ended.why_sign", css: { content: "max-w-90" }) do %>
        <%= inline_svg_tag(
              "heroicons/information-circle.svg",
              class: "text-dim-lg relative -right-px",
            ) %>
      <% end %>
    <% end %>
  </div>
<% end %>
