<% title(@view.display_name) %>

<div class="container mx-auto space-y-12">
  <h1><%= title %></h1>

  <div class="space-y-3">
    <h2 class="h5">
      <%= link_to(
            @view.authentication_url,
            class: "inline-flex gap-x-2 items-center") do %>
        Authentication Link
        <%= inline_svg_tag("heroicons/bookmark.svg") %>
      <% end %>
    </h2>
    <p class="text-dim-sm">
      Want to preserve your service record?
      Right-click the above link and choose "Bookmark".
      Or copy the Link URL to somewhere for safe keeping.
      (Don't share this with others, though, or they can/will assume your identity if they visit the link!)
    </p>
    <p>
      You'll need this if you change browsers or clear your cookies, for example.
    </p>
  </div>

  <div class="space-y-3">
    <h2 class="h5">
      <%= link_to(
            @view.reset_profile_url,
            data: {
              turbo_method: :delete,
              turbo_confirm: t("profile.reset.confirmation"),
            },
            class: "inline-flex gap-x-2 items-center") do %>
        Voluntary Discharge
        <%= inline_svg_tag("heroicons/arrow-right-start-on-rectangle.svg") %>
      <% end %>
    </h2>
    <p class="text-dim-sm">
      Reset your record.
      Note, however, that all of your past activity and username will remain in the Sweep Ops Archive.
      <strong>Make sure to bookmark your Authentication Link first if you'd like the option to come back later!</strong>
    </p>
  </div>
</div>
