<%# locals: () %>

<div class="lg:hidden print:hidden flex items-center gap-x-3">
  <label for="mobile-theme_dropdown" class="sr-only">Theme:</label>
  <div
    class="
      relative px-3 py-2 rounded-lg shadow-sm
      flex items-center gap-x-2
      ring-1 ring-neutral-900/10 dark:ring-neutral-300/10
    "
  >
    <span data-theme-target="themeSelectorButton">
      <%= inline_svg_tag("heroicons/sun.svg", class: "dark:hidden") %>
      <%= inline_svg_tag("heroicons/moon.svg", class: "light:hidden") %>
    </span>
    <span data-theme-target="themeSelectorText">System</span>
    <%= inline_svg_tag("heroicons/chevron-down.svg", class: "stroke-2") %>

    <%= select_tag(
          "mobile-theme_dropdown",
          options_for_select(%w[Light Dark System]),
          class: "absolute inset-0 size-full opacity-0",
          data: {
            action: "theme#switchToTheme",
            theme_target: "themeSelectorDropdown"
          }) %>
  </div>
</div>

<div class="max-lg:hidden flex items-center gap-x-3">
  <span class="sr-only">Theme:</span>

  <% content_for(:theme_menu_button) do %>
    <%= inline_svg_tag("heroicons/sun.svg", class: "dark:hidden") %>
    <%= inline_svg_tag("heroicons/moon.svg", class: "light:hidden") %>
  <% end %>
  <%= render(
        layout: "application/menu",
        locals: {
          menu: layout.theme_menu(button_content: content_for(:theme_menu_button))
        }) do %>
    <ul
      role="listbox"
      data-theme-target="themeSelectorMenu"
      class="
        *:flex *:items-center *:gap-x-3
        *:px-3 *:py-1.5
        *:hover:bg-gray-300/30 *:dark:hover:bg-neutral-600/30
        *:cursor-pointer
      "
    >
      <li
        role="option"
        data-action="click->theme#switchToLightTheme"
        data-theme-target="lightThemeButton"
        aria-selected="false"
        tabindex="-1"
      >
        <%= inline_svg_tag("heroicons/sun.svg") %> Light
      </li>
      <li
        role="option"
        data-action="click->theme#switchToDarkTheme"
        data-theme-target="darkThemeButton"
        tabindex="-1"
        aria-selected="false"
      >
        <%= inline_svg_tag("heroicons/moon.svg") %> Dark
      </li>
      <li
        role="option"
        data-action="click->theme#switchToSystemTheme"
        data-theme-target="systemThemeButton"
        tabindex="-1"
        aria-selected="false"
      >
        <%= inline_svg_tag("heroicons/computer-desktop.svg") %> System
      </li>
    </ul>
  <% end %>
</div>
