<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(
          site: "Minesweeper Alliance",
          description: t("site_description"),
          keywords: ["minesweeper", "real-time", "multiplayer game"],
          separator: "&mdash;".html_safe,
          reverse: true,
          og: {
            title: :title,
            site_name: :site,
            type: "website",
          },
        ) %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= turbo_refreshes_with(method: :morph, scroll: :preserve) %>
    <%= content_for(:head) %>
  </head>

  <body>
    <div
      id="flash"
      class="fixed top-6 right-6 flex flex-col gap-y-3 items-end"
    >
      <%= render("layouts/flash") %>
    </div>

    <header class="container mx-auto py-6 border-b">
      <nav class="flex justify-between">
        <ul class="flex gap-x-12">
          <li><%= active_link_to("War Room", root_path) %></li>
          <li>
            <%= active_link_to(
                  "Sweep Ops Archives", games_path, includes: "games") %>
          </li>
        </ul>
        <span class="hidden md:inline">Minesweeper Alliance</span>
      </nav>
    </header>

    <main class="container mx-auto my-12">
      <%= yield %>
    </main>
  </body>
</html>
