<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#fff" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render("meta_tags") %>

    <%= yield :head %>

    <%
      # Enable PWA manifest for installable apps (make sure to enable in
      # config/routes.rb too!)
    %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/favicon.ico" sizes="48x48" >
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= turbo_refreshes_with(method: :morph, scroll: :preserve) %>

    <script>
      function setTheme() {
        const $metaTag = document.querySelector('meta[name="theme-color"]')

        if (_shouldBeDarkTheme()) {
          document.documentElement.classList.add("dark")
          $metaTag.setAttribute("content", "#262626")
        } else {
          document.documentElement.classList.remove("dark")
          $metaTag.setAttribute("content", "#fff")
        }
      }

      function _shouldBeDarkTheme() {
        if (!("theme" in localStorage)) {
          return window.matchMedia("(prefers-color-scheme: dark)").matches
        } else {
          return localStorage.theme === "dark"
        }
      }

      // Run this now to avoid a "Flash of Unstyled Content".
      setTheme()
      // And again on any turbo_stream.refresh events.
      document.addEventListener("turbo:load", setTheme)
    </script>
  </head>

  <body
    data-turbo="<%= !App.disable_turbo? %>"
    data-controller="theme"
    data-theme-active-theme-button-class="text-red-700 dark:text-red-600"
    class="
      flex flex-col h-screen
      dark:bg-neutral-800 dark:text-gray-300
    "
  >
    <%= render("layouts/flash/container") %>

    <header
      class="
        px-6 lg:px-12 py-6
        border-b border-b-300 dark:border-b-neutral-600
      "
    >
      <%= render("nav") %>
    </header>

    <main
      class="
        my-12
        px-6 lg:px-12
      "
    >
      <%= yield %>
    </main>

    <footer
      class="
        mt-auto
        px-6 lg:px-12 py-6
        border-t border-t-300 dark:border-t-neutral-700
      "
    >
      <%= render("footer") %>
    </footer>

    <%= render("layouts/breakpoint_indicator") if App.development? %>
  </body>
</html>
