<% title("Home") %>

<div class="container mx-auto space-y-12">
  <%= render("layouts/banner", banner: @banner) %>

  <h1><%= title %></h1>

  <div class="space-y-6">
    <h2>Emojis</h2>
    <table
      class="
        -mx-6 -my-1
        border-separate border-spacing-x-6 border-spacing-y-1
        text-left
      "
    >
      <tbody>
        <% (Emoji.methods - Object.methods).sort.each do |method| %>
          <tr>
            <td><%= Emoji.public_send(method) %></td>
            <td><code>Emoji.<%= method %></code></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="space-y-6 overflow-x-auto overflow-y-hidden">
    <h2><%= external_link_to("Heroicons", "https://heroicons.com/") %></h2>
    <table
      class="
        table-fixed -mx-6 -my-1
        border-separate border-spacing-x-6 border-spacing-y-1
        text-left
      "
    >
      <tbody>
        <% Dir.glob("app/assets/images/heroicons/*.svg").each do |path| %>
          <%
            basename = File.basename(path)
            css = File.open(path, &:readline)[/class="([^"]*)"/, 1]
          %>
          <tr>
            <td><%= inline_svg_tag("heroicons/#{basename}") %></td>
            <td class="whitespace-nowrap"><%= css %></td>
            <td><code>inline_svg_tag("heroicons/<%= basename %>")</code></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="space-y-6">
    <h2>Spinner</h2>

    <table
      class="
        table-fixed -mx-6 -my-1
        border-separate border-spacing-x-6 border-spacing-y-1
        text-left
      "
    >
      <tbody>
        <tr>
          <td class="w-14"><%= inline_svg_tag("spinner.svg") %></td>
          <td><code>inline_svg_tag("spinner.svg")</code></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="space-y-6 overflow-x-auto overflow-y-hidden">
    <h2>Tooltips</h2>

    <table
      class="
        table-fixed -mx-6 -my-1
        border-separate border-spacing-x-6 border-spacing-y-1
        text-left
      "
    >
      <tbody>
        <tr>
          <td class="w-14">
            <%= render(
                  "application/tooltip",
                  text: "text",
                  description: "Huzzah! Tooltip text! 👏") %>
          </td>
          <td>
            <code>render("tooltip", text: "text", description: "Huzzah! Tooltip text! 👏")</code>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="space-y-6 overflow-x-auto overflow-y-hidden">
    <h2>Flash</h2>
    <%= ap(flash) %>
  </div>
</div>
