<% title("Home") %>

<div class="container mx-auto space-y-12">
  <%= render("layouts/banner", banner: @banner) %>

  <h1><%= title %></h1>

  <div class="space-y-6">
    <h2>Emojis</h2>
    <table
      class="
        -mx-6 -my-1
        border-separate border-spacing-x-6 border-spacing-y-1
        text-left
      "
    >
      <tbody>
        <% (Emoji.methods - Object.methods).sort.each do |method| %>
          <tr>
            <td><%= Emoji.public_send(method) %></td>
            <td><code>Emoji.<%= method %></code></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="space-y-6 overflow-x-auto">
    <h2><%= external_link_to("Heroicons", "https://heroicons.com/") %></h2>
    <table
      class="
        table-fixed -mx-6 -my-1
        border-separate border-spacing-x-6 border-spacing-y-1
        text-left
      "
    >
      <tbody>
        <% Dir.glob("app/assets/images/heroicons/*.svg").each do |path| %>
          <%
            basename = File.basename(path)
            css = File.open(path, &:readline)[/class="([^"]*)"/, 1]
          %>
          <tr>
            <td><%= inline_svg_tag("heroicons/#{basename}") %></td>
            <td class="whitespace-nowrap"><%= css %></td>
            <td><code>inline_svg_tag("heroicons/<%= basename %>")</code></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="space-y-6 overflow-x-auto">
    <h2>Tooltips</h2>

    <table
      class="
        table-fixed -mx-6 -my-1
        border-separate border-spacing-x-6 border-spacing-y-1
        text-left
      "
    >
      <tbody>
        <tr>
          <td>
            <dfn
              data-tooltip="Huzzah! Tooltip text! ðŸ‘"
              class="after:w-80"
            >text</dfn>
          </td>
          <td>
            <code>&lt;dfn data-tooltip="..." class="after:w-80" &gt;...&lt;/dfn&gt;</code>
          </td>
        </tr>
        <tr>
          <td>
            <dfn
              data-tooltip="Huzzah! Tooltip text! ðŸ‘"
              class="after:whitespace-nowrap"
            >text</dfn>
          </td>
          <td>
            <code>&lt;dfn data-tooltip="..." class="after:whitespace-nowrap" &gt;...&lt;/dfn&gt;</code>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="space-y-6 overflow-x-auto">
    <h2>Flash</h2>
    <%= debug(flash) %>
  </div>
</div>
